<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default}">
        
    <section layout:fragment="mainContents" class="mainContents p-3">
    	<!-- 제목 및 버튼 -->
    	<div class="d-flex justify-content-between">
    		<div><h3>자산</h3></div>
    		<div class="d-flex col-4 align-items-center justify-content-end">
    			<button id="assetAdd" class="btn btn-light d-flex align-items-center border mr-2 col-4 justify-content-center">
    				<i class="bi bi-plus-circle mr-1"></i>
    				<div>자산 추가</div>
    			</button>
    			<div class="d-flex align-items-center input-group">
	    			<input type="search" class="form-control ">
	    			<div class="input-group-append">
						<span class=" input-group-text"><i class="bi bi-search"></i></span>
					</div>
    			</div>
    			
    		</div>
    	</div>
    	<!-- 테이블 -->
    	<div class="detailSection mt-2">
    		<table class="table detailTable text-center table-hover">
    			<thead class="table-secondary">
    				<tr>
    					<th>No</th>
    					<th>자산</th>
    					<th>금액</th>
    					<th>지난 달 요약</th>
    					<th>이번 달 예상 상황</th>
   					</tr>
    			</thead>
    			<tbody>
    				<tr th:id="|assetSummary${assets.id}|" th:each="assets, assetsStat : ${assetsList}" th:data-assets-id = "${assets.id}">
    					<td th:text="${assetsStat.count}">1</td>
    					<td th:text="${assets.assetsName}">카카오뱅크 생활비 통장</td>
    					<td th:text="${assets.balance}">300,000</td>
    					<td>지난 달에는 자산이 <span class = "text-danger">100,000</span>원 <span class = "text-danger">감소</span>했어요!</td>
    					<td class = "text-danger">이번 달이 끝나면 200,000원 감소할 예정이에요!</td>
    				</tr>
    				
    			</tbody>
    		</table>
    	</div>
    
	
	<!-- Modal -->
	<div class="modal fade" id="assetModal"  aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered">
	    <div class="modal-content p-3">
	    	<div class=" d-flex justify-content-end">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
	        </div>
	      <div class="modal-body">
	      </div>
	    </div>
	  </div>
	</div>
    
    </section>
    
    <script layout:fragment="script">
    
    	$(document).ready(function(){
    		
    		// 내역추가 버튼 클릭
    		$("#assetAdd").on("click", function(){
    			$("#assetModal .modal-body").load("/budgetBook/money/assetModal");
    			$("#assetModal").modal("show");
    		});
    		
    		$("#budgetPredictionDetailList").on("click", "tr td:not(:has(.btn))", function(){
    			alert("클릭");
    			
    		}); // 예산 예측 클릭 이벤트 종료
    		
    		// 상세내역 모달 불러오기
    		$("[id^='assetSummary']").on("click", function(){
    			let assetsId = $(this).data("assets-id");
    			$("#assetModal .modal-body").load("/budgetBook/money/assetEditModal?assetsId=" + assetsId);
    			$("#assetModal").modal("show");
    		}); // 상세내역 모달 불러오기 이벤트 종료
    	}); // 문서 종료
    </script>

</html>