<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

	      	<div id="assetsDiv" th:data-assets-id = "${assets.id}">
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">자산</div>
	      			<input type="text" class="inputBottomBorder ml-1 col-7" id="assetsName" th:value="${assets.assetsName}">
	      		</div>
	      		
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">잔액</div>
	      			<input type="text" class="inputBottomBorder ml-1 col-7" th:data-balance-value="${assets.balance}" id="assetsBalance"  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1').replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ','); ">
	      		</div>
	      		<div class="d-flex justify-content-center">
	      			<p class="align-items-center pt-1 text-secondary modalText"><i class="bi bi-exclamation-circle"></i>수정 이후 내역부터 계산된 결과를 보여줍니다.</p>
	      		</div>
	      		
	      		<div class="d-flex align-items-center mt-1 modalText">
	      			<div class="col-4">색상</div>
	      			<div id="colorPicker" class="pl-3 pr-3">색상 수정하기</div>
	      			<input id="assetsInputColor" type="color" class="d-none" th:value="${assets.color}">
	      		</div>
	      		
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">메모</div>
	      		</div>
	      		<div class="d-flex justify-content-center">
	      			<textarea class="form-control mt-1 col-11" rows = "8" id="assetsMemo" th:text="${assets.memo}"></textarea>
	      		</div>
	      		
	      		<div class="d-flex justify-content-between mt-2">
		      		<button type="button" class="btn btn-outline-danger" id="assetsDeleteBtn">삭제</button>
		        	<button type="button" class="btn btn-outline-dark" id="assetsEditBtn">확인</button>
	        	</div>
	      		
	      		
	      		
	      	</div>
	      	
	      	
	      	<script>
	      		$(document).ready(function(){
	      			
	      			// 금액에 쉼표 붙이기
	      			let balanceData = $("#assetsBalance").data("balance-value").toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
	      			$("#assetsBalance").val(balanceData);
	      			
	      			// 색상 수정하기 배경 색 저장된 대로 바꾸기
      				let color = $("#assetsInputColor").val();
      				$("#colorPicker").attr("style", "background-color : " + color);
      				
      				// 삭제 버튼 클릭
      				$("#assetsDeleteBtn").on("click", function(){
      					let assetsId = $("#assetsDiv").data("assets-id");
      					
      					$.ajax({
      						type : "delete"
      						, url : "/budgetBook/money/assets/delete"
      						, data : {"assetsId" : assetsId}
      						, success: function(data){
      							if(data.result == "success"){
      								location.href = "/budgetBook/money/assets-view";
      							}else{
      								alert("자산 삭제 실패!");
      							}
      						}
      						, error : function(){
      							alert("자산 삭제 에러!");
      						}
      					});
      				});
	      			
	      			// 확인 버튼 클릭
	      			$("#assetsEditBtn").on("click", function(){
	      				let assetsId = $("#assetsDiv").data("assets-id");
	      				let assetsName = $("#assetsName").val();
	      				
	      				let balance = $("#assetsBalance").val();
	      				balance = balance.replace(/,/g, "");
	      				
	      				let color = $("#assetsInputColor").val();
	      				let memo = $("#assetsMemo").val();
	      				
	      				let formData = new FormData();
	      				formData.append("assetsId", assetsId);
	      				formData.append("assetsName", assetsName);
	      				formData.append("balance", balance);
	      				formData.append("color", color);
	      				formData.append("memo", memo);
	      				
	      				$.ajax({
	      					type : "post"
	      					, url : "/budgetBook/money/assets/save"
	      					, data : formData
	        				, processData : false
	                        , contentType : false
	                        , success : function(data){
	                        	if(data.result == "success"){
	                        		location.href = "/budgetBook/money/assets-view";
	                        	}else{
	                        		alert("자산 수정 실패!");
	                        	}
	                        }
	      					, error : function(){
	      						alert("자산 수정 에러!");
	      					}
	      				});
	      			});
	      			
	      			
	      			// 색상 수정하기 클릭 시 컬러피커 나오게 이벤트 설정
	      			$("#colorPicker").on("click", function(){
	        			$("#assetsInputColor").click();
	        			
	        		});
	      			
	      			// 컬러피커 값이 변하면 나오는 이벤트
	      			$("#assetsInputColor").change(function(){
	      				let color = $("#assetsInputColor").val();
	      				$("#colorPicker").attr("style", "background-color : " + color);
	      			});
	      		});
	      	</script>
	      