<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

	      	<div>
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">자산</div>
	      			<input type="text" class="inputBottomBorder ml-1 col-7" id="assetsName">
	      		</div>
	      		
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">잔액</div>
	      			<input type="text" class="inputBottomBorder ml-1 col-7" id="assetsBalance" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
	      		</div>
	      		
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">색상</div>
	      			<div id="colorPicker" class="pl-3 pr-3">색상 수정하기</div>
	      			<input id="inputColor" type="color" class="d-none" value="#c0c0c0">
	      		</div>
	      		
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">메모</div>
	      		</div>
	      		<div class="d-flex justify-content-center">
	      			<textarea class="form-control mt-1 col-11" rows = "8" id="assetsMemo"></textarea>
	      		</div>
	      		
	      		<div class="d-flex justify-content-end mt-2">
		      		<!-- <button type="button" class="btn btn-outline-danger">삭제</button> -->
		        	<button type="button" class="btn btn-outline-dark" id="editBtn">확인</button>
	        	</div>
	      		
	      		
	      		
	      	</div>
	      	
	      	
	      	<script>
	      		$(document).ready(function(){
	      			// 확인 버튼 클릭
	      			$("#editBtn").on("click", function(){
	      				let assetsName = $("#assetsName").val();
	      				let balance = $("#assetsBalance").val();
	      				let color = $("#inputColor").val();
	      				let memo = $("#assetsMemo").val();
	      				
	      				let formData = new FormData();
	      				formData.append("assetsName", assetsName);
	      				formData.append("balance", balance);
	      				formData.append("color", color);
	      				formData.append("memo", memo);
	      				
	      				$.ajax({
	      					type : "post"
	      					, url : "/budgetBook/money/assets/save"
	      					, data : formData
	        				, processData : false
	                        , contentType : false
	                        , success : function(data){
	                        	if(data.result == "success"){
	                        		location.href = "/budgetBook/money/assets-view"
	                        	}else{
	                        		alert("자산 추가 실패!");
	                        	}
	                        }
	      					, error : function(){
	      						alert("자산 추가 에러!");
	      					}
	      				});
	      			});
	      			
	      			
	      			// 색상 수정하기 클릭 시 컬러피커 나오게 이벤트 설정
	      			$("#colorPicker").on("click", function(){
	        			$("#inputColor").click();
	        			
	        		});
	      			
	      			// 컬러피커 값이 변하면 나오는 이벤트
	      			$("#inputColor").change(function(){
	      				let color = $("#inputColor").val();
	      				$("#colorPicker").attr("style", "background-color : " + color);
	      			});
	      		});
	      	</script>
	      