
	      	<div>
	      		<div class="d-flex align-items-center modalText">
	      			<div class="col-4">분류</div>
	      			<button type="button" id="categoryIncomeBtn" class="btn btn-sm btn-outline-success col-2 mr-1">수입</button>
	      			<button type="button" id = "categoryOutgoingBtn" class="btn btn-sm btn-outline-danger col-2 ml-1 mr-1">지출</button>
	      			<button type="button" id="categoryTransferBtn" class="btn btn-sm btn-outline-secondary col-2 ml-1 mr-1">이체</button>
	      		</div>
	      		
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">카테고리</div>
	      			<input type="text" class="inputBottomBorder ml-1 col-7" id="categoryName">
	      		</div>
	      		
	      		
	      		
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">금액</div>
	      			<input type="text" class="inputBottomBorder ml-1 col-7" id="categoryCost" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1').replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ','); ">
	      		</div>
	      		
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">색상</div>
	      			<div id="colorPicker" class="pl-3 pr-3">색상 수정하기</div>
	      			<input id="categoryInputColor" type="color" class="d-none" value="#c0c0c0">
	      		</div>
	      		
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">메모</div>
	      		</div>
	      		<div class="d-flex justify-content-center">
	      			<textarea class="form-control mt-1 col-11" rows = "8" id="categoryMemo"></textarea>
	      		</div>
	      		
	      	</div>
	      	
	      	<div class="d-flex justify-content-end mt-2">
	        	<button type="button" class="btn btn-outline-dark" id="categorySubmitBtn">완료</button>
	      	</div>
	      	
	      	<script>
	      		$(document).ready(function(){
	      			
	      			// 완료버튼 클릭 시 저장
	      			$("#categorySubmitBtn").on("click", function(){
	      				// 분류
	      				let classification = "";
	        			if($("#categoryIncomeBtn").hasClass("btn-success")){
	        				classification = "수입";
	        			}else if($("#categoryOutgoingBtn").hasClass("btn-danger")){
	        				classification = "지출";
	        			}else if($("#categoryTransferBtn").hasClass("btn-secondary")){
	        				classification = "이체";
	        			}else{
	        				alert("분류를 선택해주세요!"); // 유효성 검사
	        				return ;
	        			}
	        			
	        			// 카테고리 이름
	        			let categoryName = $("#categoryName").val();
	      				
	      				// 금액
	        			let categoryCostString = $("#categoryCost").val();
	      				let categoryCost = categoryCostString.replace(/,/g, "");
	      				if(categoryCost == null){
	      					alert("금액을 입력해주세요!"); // 유효성 검사
	      					return ;
	      				}
	      				
	      				// 색상
	      				let color = $("#categoryInputColor").val();
	      				
	      				//메모
	      				let memo = $("#categoryMemo").val();
	      				
	      				// formData
	      				let formData = new FormData();
	      				formData.append("classification", classification);
	      				formData.append("categoryName", categoryName);
	      				formData.append("amount", categoryCost);
	      				formData.append("color", color);
	      				formData.append("memo", memo);
	      				
	      				$.ajax({
	      					type : "post"
	      					, url : "/budgetBook/money/category/save"
	      					, data : formData
	        				, processData : false
	                        , contentType : false
	      					, success : function(data){
	                        	if(data.result == "success"){
	                        		$("#categoryModal").modal("hide");
	                        	}else{
	                        		alert("카테고리 추가 실패!");
	                        	}
	                        }
	      					, error : function(){
	      						alert("카테고리 추가 에러!");
	      					}
	      				});
	      				
	      				
	      			});
	      			
	      			//// 버튼 클릭 시 버튼 스타일 변경
	      			 // 수입 버튼
	      			$("#categoryIncomeBtn").on("click", function(){
	      				$("#categoryIncomeBtn").removeClass("btn-outline-success");
	      				$("#categoryIncomeBtn").addClass("btn-success");
	      				
	      				$("#categoryOutgoingBtn").removeClass("btn-danger");
	      				$("#categoryOutgoingBtn").addClass("btn-outline-danger");
	      				$("#categoryTransferBtn").removeClass("btn-secondary");
	      				$("#categoryTransferBtn").addClass("btn-outline-secondary");
	      			});
	      			// 지출 버튼
	      			$("#categoryOutgoingBtn").on("click", function(){
	      				$("#categoryOutgoingBtn").removeClass("btn-outline-danger");
	      				$("#categoryOutgoingBtn").addClass("btn-danger");
	      				
	      				$("#categoryIncomeBtn").removeClass("btn-success");
	      				$("#categoryIncomeBtn").addClass("btn-outline-success");
	      				$("#categoryTransferBtn").removeClass("btn-secondary");
	      				$("#categoryTransferBtn").addClass("btn-outline-secondary");
	      			}); 
	      			// 이체 버튼
	      			$("#categoryTransferBtn").on("click", function(){
	      				$("#categoryTransferBtn").removeClass("btn-outline-secondary");
	      				$("#categoryTransferBtn").addClass("btn-secondary");
	      				
	      				$("#categoryOutgoingBtn").removeClass("btn-danger");
	      				$("#categoryOutgoingBtn").addClass("btn-outline-danger");
	      				$("#categoryIncomeBtn").removeClass("btn-success");
	      				$("#categoryIncomeBtn").addClass("btn-outline-success");
	      			}); 
		      		
	      			
	      			// 색상 수정하기 클릭 시 컬러피커 나오게 이벤트 설정
	      			$("#colorPicker").on("click", function(){
	        			$("#categoryInputColor").click();
	        			
	        		});
	      			
	      			// 컬러피커 값이 변하면 나오는 이벤트
	      			$("#categoryInputColor").change(function(){
	      				let color = $("#categoryInputColor").val();
	      				$("#colorPicker").attr("style", "background-color : " + color);
	      			});
	      		});
	      	</script>
	      