
	      	<div>
	      		<div class="d-flex align-items-center modalText">
	      			<div class="col-4">분류</div>
	      			<button type="button" class="btn btn-sm btn-outline-success col-2 mr-1">수입</button>
	      			<button type="button" class="btn btn-sm btn-outline-danger col-2 ml-1 mr-1">지출</button>
	      			<button type="button" class="btn btn-sm btn-outline-secondary col-2 ml-1 mr-1">이체</button>
	      		</div>
	      		
	      		
	      		
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">카테고리</div>
	      			<select class="form-control form-control-sm col-4">
      					<option>식비</option>
      					<option>문화생활비</option>
      					<option>주거/통신비</option>
      				</select>
	      		</div>
	      		
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">금액</div>
	      			<input type="number" class="inputBottomBorder ml-1 col-7" >
	      		</div>
	      		
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">색상</div>
	      			<div id="colorPicker" class="pl-3 pr-3">색상 수정하기</div>
	      			<input id="inputColor" type="color" class="d-none" value="#c0c0c0">
	      		</div>
	      		
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">메모</div>
	      		</div>
	      		<div class="d-flex justify-content-center">
	      			<textarea class="form-control mt-1 col-11" rows = "8"></textarea>
	      		</div>
	      		
	      		
	      		
	      	</div>
	      	
	      	<script>
	      		$(document).ready(function(){
	      			// 색상 수정하기 클릭 시 컬러피커 나오게 이벤트 설정
	      			$("#colorPicker").on("click", function(){
	        			$("#inputColor").click();
	        			
	        		});
	      			
	      			// 컬러피커 값이 변하면 나오는 이벤트
	      			$("#inputColor").change(function(){
	      				let color = $("#inputColor").val();
	      				$("#colorPicker").attr("style", "background-color : " + color);
	      			});
	      		});
	      	</script>
	      