
	      	<div>
	      		<div class="d-flex align-items-center modalText">
	      			<div class="col-4">분류</div>
	      			<button type="button" class="btn btn-sm btn-outline-success col-2 mr-1">수입</button>
	      			<button type="button" class="btn btn-sm btn-outline-danger col-2 ml-1 mr-1">지출</button>
	      			<button type="button" class="btn btn-sm btn-outline-secondary col-2 ml-1 mr-1">이체</button>
	      		</div>
	      		
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">반복주기</div>
	      			<select class="form-control col-2 form-control-sm">
	      				<option selected>매월</option>
	      				<option>매주</option>
	      				<option>매일</option>
	      			</select>
	      			<input type="text" class="inputBottomBorder col-2 ml-1">
	      			<div>일 반복</div>
	      		</div>
	      		
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">자산</div>
	      			<select class="form-control form-control-sm">
      					<option>카카오뱅크 생활비 통장</option>
      					<option>하나은행</option>
      					<option>신한은행</option>
      				</select>
	      		</div>
	      		
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">카테고리</div>
	      			<select class="form-control form-control-sm col-4">
      					<option>식비</option>
      					<option>문화생활비</option>
      					<option>주거/통신비</option>
      				</select>
	      		</div>
	      		
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">세부 카테고리</div>
	      			<select class="form-control form-control-sm col-4">
      					<option>커피</option>
      					<option>식재료</option>
      					<option>외식</option>
      				</select>
	      		</div>
	      		
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">내역</div>
	      			<input type="text" class="inputBottomBorder ml-1 col-7">
	      		</div>
	      		
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">금액</div>
	      			<input type="number" class="inputBottomBorder ml-1 col-7" >
	      		</div>
	      		
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">메모</div>
	      		</div>
	      		
	      		<div class="d-flex justify-content-center">
	      			<textarea class="form-control mt-1 col-11" rows = "8"></textarea>
	      		</div>
	      		
	      		
	      	</div>
	      