<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default}">
        
    <section layout:fragment="mainContents" class="mainContents p-3">
    	<!-- 제목 및 버튼 -->
    	<div class="d-flex justify-content-between">
    		<!-- 왼쪽 -->
    		<div class="d-flex align-items-center">
    			<!-- 월 -->
    			<i class="bi bi-chevron-left"></i>
    			<h3 class="ml-3 mr-3">10월</h3>
    			<i class="bi bi-chevron-right"></i>
				
				<!-- 사용금액 총합 -->
				<div class="d-flex">
					<div class="text-success ml-2 mr-2">수입 <span id="incomeValue" th:data-income-value="${incomeSum}">2,000,000</span></div>
					<div class="text-danger ml-2 mr-2">지출 <span id="outgoingValue" th:data-outgoing-value="${outGoingSum}">4,500</span></div>
					<div class="ml-2">차액 <span id="differenceValue" th:data-difference-value = "${difference}">1,995,500</span></div>
				</div>
    		</div>
    		
    		<!-- 오른쪽 -->
    		<div class="d-flex col-4 align-items-center justify-content-end">
    			<button id="detailAdd" class="btn btn-light d-flex align-items-center border mr-2 col-4 justify-content-center">
    				<i class="bi bi-plus-circle mr-1"></i>
    				<div>내역 추가</div>
    			</button>
    			<div class="d-flex align-items-center input-group">
	    			<input type="search" class="form-control" id="searchBreakdownInput">
	    			<div class="input-group-append" id="searchBreakdownBtn">
		    			<div class="input-group-append">
							<span class=" input-group-text"><i class="bi bi-search"></i></span>
						</div>
					</div>
    			</div>
    			
    		</div>
    	</div>
    	<!-- 테이블 -->
    	<div class="detailSection mt-2">
    		<table class="table detailTable text-center table-hover">
    			<thead class="table-secondary">
    				<tr>
    					<th>분류</th>
    					<th>날짜</th>
    					<th>자산</th>
    					<th>카테고리</th>
    					<th>세부 카테고리</th>
    					<th>내역</th>
    					<th>금액</th>
   					</tr>
    			</thead>
    			<tbody>
    				<tr th:id="|breakdown${breakdown.id}|" th:each = "breakdown : ${breakdownList}" th:data-breakdown-id = "${breakdown.id}">
    					<td>
    						<th:block th:switch="${breakdown.classification}">
    							<span th:case = "지출" class="text-danger" th:text = "${breakdown.classification}"></span>
    							<span th:case = "수입" class="text-success" th:text = "${breakdown.classification}">지출</span>
    							<span th:case = "이체" th:text = "${breakdown.classification}">지출</span>
   							</th:block>
   						</td>
    					<td th:text="${breakdown.listDate}">10월 1일</td>
    					<td th:text=${breakdown.assetsName}>카카오뱅크 생활비 통장</td>
    					<td th:text="${breakdown.categoryName}">주거/통신비</td>
    					<td th:text="${breakdown.detailCategoryName}">월세</td>
    					<td th:text="${breakdown.breakdownName}"></td>
    					<td>
    						<span th:if = "${breakdown.classification} == '지출'" class="text-danger">-</span>
    						<th:block th:switch="${breakdown.classification}">
    							<span th:case = "지출" class="text-danger" th:text="${#numbers.formatInteger(breakdown.cost, 3, 'COMMA')}"></span>
    							<span th:case = "수입" class="text-success" th:text="${#numbers.formatInteger(breakdown.cost, 3, 'COMMA')}"></span>
    							<span th:case = "이체" th:text="${#numbers.formatInteger(breakdown.cost, 3, 'COMMA')}"></span>
    						</th:block>
   						</td>
    				</tr>
    				
    			</tbody>
    		</table>
    	</div>
    
	
	<!-- Modal -->
	<div class="modal fade" id="detailModal"  aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered">
	    <div class="modal-content p-3">
	    	<div class=" d-flex justify-content-end">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
	        </div>
	      <div class="modal-body">
	      </div>
	    </div>
	  </div>
	</div>
    
    </section>
    
    <script layout:fragment="script">
    
    	$(document).ready(function(){
    		
    		// 금액에 쉼표
    		let incomeValue = $("#incomeValue").data("income-value").toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
  			$("#incomeValue").text(incomeValue);
    		let outgoingValue = $("#outgoingValue").data("outgoing-value").toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
  			$("#outgoingValue").text(outgoingValue);
    		let differenceValue = $("#differenceValue").data("difference-value").toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
  			$("#differenceValue").text(differenceValue);
    		
  			// 검색 기능
  			$("#searchBreakdownBtn").on("click", function(){
  				let searchInput = $("#searchBreakdownInput").val();
  				
  				// 유효성 검사
  				if(searchInput == ""){
  					alert("검색어를 입력하세요!");
  					return ;
  				}
  				
  				location.href = "/budgetBook/money/breakdown-view?inputKeyword=" + searchInput;
  			});
  			
    		// 내역추가 버튼 클릭
    		$("#detailAdd").on("click", function(){
    			$("#detailModal .modal-body").load("/budgetBook/money/detailModal?realTimePrediction=1");
    			$("#detailModal").modal("show");
    		});
    		
    		// 상세내역 모달 불러오기
    		$("[id^='breakdown']").on("click", function(){
    			let breakdownId = $(this).data("breakdown-id");
    			$("#detailModal .modal-body").load("/budgetBook/money/detailEditModal?breakdownId=" + breakdownId + "&realTimePrediction=1");
    			$("#detailModal").modal("show");
    		}); // 상세내역 모달 불러오기 이벤트 종료
    	}); // 문서 종료
    </script>

</html>