<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

	      	<div id="detailDiv" th:data-real-time-prediction = "${realTimePrediction}">
	      		<!-- 수입 지출 이체 구분 -->
	      		<div class="d-flex align-items-center modalText" >
	      			<div class="col-4">분류</div>
	      			<button type="button" id="incomeBtn" class="btn btn-sm btn-outline-success col-2 mr-1">수입</button>
	      			<button type="button" id = "outgoingBtn" class="btn btn-sm btn-outline-danger col-2 ml-1 mr-1 ">지출</button>
	      			<button type="button" id="transferBtn" class="btn btn-sm btn-outline-secondary col-2 ml-1 mr-1 ">이체</button>
	      		</div>
	      		
	      		<!-- 날짜 -->
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">날짜</div>
	      			<input type="text" id="datepicker" class="inputBottomBorder ml-1 col-7">
	      		</div>
	      		
	      		<!-- 자산 -->
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">자산</div>
	      			<select class="form-control form-control-sm col-4" th:if="${not #lists.isEmpty(assetsList)}" id = "assetsSelected">
      					<option value="" selected disabled hidden>선택해주세요</option>
      					<option th:each = "assets : ${assetsList}" th:text="${assets.assetsName}" th:value = "${assets.id}"></option>
      				</select>
      				<button id="breakdownAssetAddBtnLong" type="button" th:unless="${not #lists.isEmpty(assetsList)} " class="btn btn-outline-secondary btn-sm d-flex align-items-center">
     					<i class="bi bi-plus-circle mr-2"></i>
     					자산 추가하기
     				</button>
     				<i class="bi bi-plus-circle mr-2 ml-2" id="breakdownAssetAddBtn"></i>
	      		</div>
	      		
	      		<!-- 카테고리 -->
	      		<div class="d-flex align-items-center mt-3 modalText" id="categorySectionDiv">
	      			<div class="col-4">카테고리</div>
	      			<select class="form-control form-control-sm col-4"  th:if="${not #lists.isEmpty(categoryList)}" id="categorySelected">
      					<option value="" selected disabled hidden>선택해주세요</option>
      					<option class="d-none" th:id = "|breakdownOutgoingCategorySelect${category.id}|" th:each = "category : ${categoryList}" th:if = "${category.classification == '지출'}" th:text="${category.categoryName}" th:value = "${category.id}"></option>
      					<option class="d-none" th:id = "|breakdownIncomeCategorySelect${category.id}|" th:each = "category : ${categoryList}" th:if = "${category.classification == '수입'}" th:text="${category.categoryName}" th:value = "${category.id}"></option>
      					<option class="d-none" th:id = "|breakdownTransferCategorySelect${category.id}|" th:each = "category : ${categoryList}" th:if = "${category.classification == '이체'}" th:text="${category.categoryName}" th:value = "${category.id}"></option>
      				</select>
      				<button type="button" id="breakdownCategoryAddBtnLong" th:unless="${not #lists.isEmpty(categoryList)}" class="categoryAdd btn btn-outline-secondary btn-sm d-flex align-items-center">
     					<i class="bi bi-plus-circle mr-2"></i>
     					카테고리 추가하기
     				</button>
     				<i class="bi bi-plus-circle mr-2 ml-2" id="breakdownCategoryAddBtn"></i>
	      		</div>
	      		
	      		<!-- 세부 카테고리 -->
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">세부 카테고리</div>
	      			<select class="form-control form-control-sm col-4" th:if="${not #lists.isEmpty(detailCategoryList)}" id="detailCategorySelected">
      					<option value="" selected disabled hidden>선택해주세요</option>
      					<option th:each = "detailCategory : ${detailCategoryList}" th:text="${detailCategory.detailCategoryName}" th:value = "${detailCategory.id}"></option>
      				</select>
      				<button id="breakdownDetailCategoryAddBtnLong" type="button" th:unless="${not #lists.isEmpty(detailCategoryList)}" class=" btn btn-outline-secondary btn-sm d-flex align-items-center">
     					<i class="bi bi-plus-circle mr-2"></i>
     					세부 카테고리 추가하기
     				</button>
     				<i class="bi bi-plus-circle mr-2 ml-2" id="breakdownDetailCategoryAddBtn"></i>
	      		</div>
	      		
	      		<!-- 내역명 -->
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">내역</div>
	      			<input type="text" class="inputBottomBorder ml-1 col-7" id="breakdownName">
	      		</div>
	      		
	      		<!-- 금액 -->
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">금액</div>
	      			<input type="text" class="inputBottomBorder ml-1 col-7" id="breakdownCost" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1').replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ','); ">
	      		</div>
	      		
	      		<!-- 메모 -->
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">메모</div>
	      		</div>
	      		<div class="d-flex justify-content-center">
	      			<textarea class="form-control mt-1 col-11" rows = "8" id="memo"></textarea>
	      		</div>
	      		
	      		
	      	</div>
	      	
	      	<div class="d-flex justify-content-end mt-2">
	        	<button type="button" class="btn btn-outline-dark" id="submitBtn">완료</button>
	      	</div>
	      	
	      	<!--세부 카테고리추가 Modal -->
			<div class="modal fade" id="detailCategoryModal"  aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered">
			    <div class="modal-content p-3">
			    	<div class=" d-flex justify-content-end">
			        </div>
			      <div class="modal-body">
			      </div>
			    </div>
			  </div>
			</div>
			
			<!--카테고리추가 Modal -->
			<div class="modal fade" id="categoryModal"  aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered">
			    <div class="modal-content p-3">
			    	<div class=" d-flex justify-content-end">
			        </div>
			      <div class="modal-body">
			      </div>
			    </div>
			  </div>
			</div>
			
			<!-- 자산 추가 Modal -->
			<div class="modal fade" id="assetModal"  aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered">
			    <div class="modal-content p-3">
			      <div class="modal-body">
			      </div>
			    </div>
			  </div>
			</div>
	      	
	      	
	      	
	      	<script th:inline="javascript">
	      		$(document).ready(function(){
	      			$( "#datepicker" ).datepicker({
	  					dateFormat : "yy-mm-dd"
	  					, dayNamesMin : ["일", "월", "화", "수" ,"목" ,"금", "토"]
		  				, monthNamesShort : ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"]
	  					, showMonthAfterYear : true
	  					, changeYear : true
	  					, changeMonth : true
	  					
	  				});
	      			
	      			/* // 카테고리 추가 모달 닫히면 새로고침
	      			$("#categoryModal").on("hidden.bs.modal", function(){
	      				location.reload();
	      			}); */
	      			
	      			
	      			// 자산추가 버튼 클릭
	        		$("#breakdownAssetAddBtn").on("click", function(){
	        			$("#assetModal .modal-body").load("/budgetBook/money/assetModal");
	        			$("#assetModal").modal("show");
	        		});
	      			
	      			// 자산추가 긴 버전 버튼 클릭
	        		$("#breakdownAssetAddBtnLong").on("click", function(){
	        			$("#assetModal .modal-body").load("/budgetBook/money/assetModal");
	        			$("#assetModal").modal("show");
	        		});
	      			
	      			// 카테고리 추가
	      			$("#breakdownCategoryAddBtn").on("click", function(){
	      				$("#categoryModal .modal-body").load("/budgetBook/money/categoryModal");
	        			$("#categoryModal").modal("show");
	      			});  
	      			
	      			// 카테고리 추가 버튼 긴 버전 추가
	      			$("#breakdownCategoryAddBtnLong").on("click", function(){
	      				$("#categoryModal .modal-body").load("/budgetBook/money/categoryModal");
	        			$("#categoryModal").modal("show");
	      			}); 
	      			
	      			// 세부 카테고리추가 버튼 클릭
	        		$("#breakdownDetailCategoryAddBtn").on("click", function(){
	        			$("#detailCategoryModal .modal-body").load("/budgetBook/money/detailCategoryModal");
	        			$("#detailCategoryModal").modal("show");
	        		});
	      			
	        		// 세부 카테고리추가 긴 버전 버튼 클릭
	        		$("#breakdownDetailCategoryAddBtnLong").on("click", function(){
	        			$("#detailCategoryModal .modal-body").load("/budgetBook/money/detailCategoryModal");
	        			$("#detailCategoryModal").modal("show");
	        		});
	      			
	      			
		      		// 완료 버튼 클릭
	        		$("#submitBtn").on("click", function(){
	        			
	        			// 실제 사용내역인지, 예측 사용 내역인지 구별
	        			let realTimePrediction = $("#detailDiv").data("real-time-prediction");
	        			
	        			// 분류
	        			let classification = "";
	        			if($("#incomeBtn").hasClass("btn-success")){
	        				classification = "수입";
	        			}else if($("#outgoingBtn").hasClass("btn-danger")){
	        				classification = "지출";
	        			}else if($("#transferBtn").hasClass("btn-secondary")){
	        				classification = "이체";
	        			}else{
	        				alert("분류를 선택해주세요!"); // 유효성 검사
	        				return ;
	        			}
	        			
	        			// 날짜
	        			let date = $("#datepicker").val();
	        			
	      				
	      				// 자산
	      				let assetsId = $("#assetsSelected :selected").val();
	      				if(assetsId == null){
	      					alert("자산을 선택해주세요!"); // 유효성 검사
	      				}
	      				
	      				// 카테고리 - 비어있어도 됨
	      				let categoryId = "";
						if($("#categorySelected").length > 0){
							categoryId = $("#categorySelected :selected").val();
							if(categoryId == ""){
								categoryId = 0;
							}
						}else{
	      					categoryId = 0;
	      				};
	      				
	      				
	      				// 세부 카테고리 - 비어있어도 됨
	      				let detailCategoryId = "";
						if($("#detailCategorySelected").length > 0){
							detailCategoryId = $("#detailCategorySelected :selected").val();
							if(detailCategoryId == ""){
								detailCategoryId = 0;
							}
	      				}else{
	      					detailCategoryId = 0;
	      				}
	      				
	      				
	      				// 내역명
	      				let breakdownName = $("#breakdownName").val();
	      				
	      				if(breakdownName == null){
	      					alert("내역명을 입력해주세요!"); // 유효성 검사
	      					return ;
	      				}
	      				
	      				// 금액
	      				let breakdownCostString = $("#breakdownCost").val();
	      				let breakdownCost = breakdownCostString.replace(/,/g, "");
	      				if(breakdownCost == null){
	      					alert("금액을 입력해주세요!"); // 유효성 검사
	      					return ;
	      				}
	      				
	      				// 메모 - 비어있어도 됨
	      				let memo = $("#memo").val();
	      				
	      				
	      				// FormData
	      				let formData = new FormData();
	      				formData.append("realTimePrediction", realTimePrediction);
	        			formData.append("classification", classification);
	        			formData.append("date", date);
	        			formData.append("assetsId", assetsId);
	        			formData.append("categoryId", categoryId);
	        			formData.append("detailCategoryId", detailCategoryId);
	        			formData.append("breakdownName", breakdownName);
	        			formData.append("cost", breakdownCost);
	        			formData.append("memo", memo);
	        			
	        			
	        			
	        			$.ajax({
	        				type : "post"
	        				, url : "/budgetBook/money/breakdown/create"
	        				, data : formData
	        				, processData : false
	                        , contentType : false
	                        , success : function(data){
	                        	if(data.result == "success"){
	                        		location.reload();
	                        	}else{
	                        		alert("내역 추가 실패!");
	                        	}
	                        }
	        				, error : function(){
	        					alert("내역 추가 에러!");
	        				}
	        			});
	      				
	      				
	        		});
	      			
	      			// 버튼 클릭 시 버튼 스타일 변경
	      			$("#incomeBtn").on("click", function(){
	      				$("#incomeBtn").removeClass("btn-outline-success");
	      				$("#incomeBtn").addClass("btn-success");
	      				
	      				$("#outgoingBtn").removeClass("btn-danger");
	      				$("#outgoingBtn").addClass("btn-outline-danger");
	      				$("#transferBtn").removeClass("btn-secondary");
	      				$("#transferBtn").addClass("btn-outline-secondary");

	      				$("[id^='breakdownIncomeCategorySelect']").removeClass("d-none");
	      				$("[id^='breakdownOutgoingCategorySelect']").addClass("d-none");
	      				$("[id^='breakdownTransferCategorySelect']").addClass("d-none");
	      				
	      			}); // 수입 버튼
	      			$("#outgoingBtn").on("click", function(){
	      				$("#outgoingBtn").removeClass("btn-outline-danger");
	      				$("#outgoingBtn").addClass("btn-danger");
	      				
	      				$("#incomeBtn").removeClass("btn-success");
	      				$("#incomeBtn").addClass("btn-outline-success");
	      				$("#transferBtn").removeClass("btn-secondary");
	      				$("#transferBtn").addClass("btn-outline-secondary");
	      				
	      				$("[id^='breakdownIncomeCategorySelect']").addClass("d-none");
	      				$("[id^='breakdownOutgoingCategorySelect']").removeClass("d-none");
	      				$("[id^='breakdownTransferCategorySelect']").addClass("d-none");
	      			}); // 지출 버튼
	      			$("#transferBtn").on("click", function(){
	      				$("#transferBtn").removeClass("btn-outline-secondary");
	      				$("#transferBtn").addClass("btn-secondary");
	      				
	      				$("#outgoingBtn").removeClass("btn-danger");
	      				$("#outgoingBtn").addClass("btn-outline-danger");
	      				$("#incomeBtn").removeClass("btn-success");
	      				$("#incomeBtn").addClass("btn-outline-success");
	      				
	      				$("[id^='breakdownIncomeCategorySelect']").addClass("d-none");
	      				$("[id^='breakdownOutgoingCategorySelect']").addClass("d-none");
	      				$("[id^='breakdownTransferCategorySelect']").removeClass("d-none");
	      			}); // 이체 버튼
	      		});
	      	</script>
	      