
	      	<div>
	      		<div class="d-flex align-items-center modalText">
	      			<div class="col-4">분류</div>
	      			<button type="button" id="incomeBtn" class="btn btn-sm btn-outline-success col-2 mr-1">수입</button>
	      			<button type="button" id = "outgoingBtn" class="btn btn-sm btn-outline-danger col-2 ml-1 mr-1 ">지출</button>
	      			<button type="button" id="transferBtn" class="btn btn-sm btn-outline-secondary col-2 ml-1 mr-1 ">이체</button>
	      		</div>
	      		
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">반복주기</div>
	      			<select class="form-control col-2 form-control-sm" id="periodSelect">
	      				<option>매월</option>
	      				<option>매주</option>
	      				<option>매일</option>
	      			</select>
	      			<input type="text" class="inputBottomBorder col-2 ml-1" id="periodInput">
	      			<select class="form-control col-2 ml-1" id="weekPeriod">
	      				<option>월</option> <!-- 여기 진행중 -->
	      				<option>화</option>
	      				<option>수</option>
	      			</select>
	      			<div id = "periodText">일 반복</div>
	      		</div>
	      		
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">자산</div>
	      			<select class="form-control form-control-sm">
      					<option>카카오뱅크 생활비 통장</option>
      					<option>하나은행</option>
      					<option>신한은행</option>
      				</select>
	      		</div>
	      		
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">카테고리</div>
	      			<select class="form-control form-control-sm col-4">
      					<option>식비</option>
      					<option>문화생활비</option>
      					<option>주거/통신비</option>
      				</select>
	      		</div>
	      		
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">세부 카테고리</div>
	      			<select class="form-control form-control-sm col-4">
      					<option>커피</option>
      					<option>식재료</option>
      					<option>외식</option>
      				</select>
	      		</div>
	      		
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">내역</div>
	      			<input type="text" class="inputBottomBorder ml-1 col-7">
	      		</div>
	      		
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">금액</div>
	      			<input type="number" class="inputBottomBorder ml-1 col-7" >
	      		</div>
	      		
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">메모</div>
	      		</div>
	      		
	      		<div class="d-flex justify-content-center">
	      			<textarea class="form-control mt-1 col-11" rows = "8"></textarea>
	      		</div>
	      		
	      	</div>
	      	
	      	<script>
	      		$(document).ready(function(){
	      			// 반복주기에 따라 뒤에 오는 글자를 다르게 하기
	      			$("#periodSelect").change(function(){
	      				let period = $("#periodSelect :selected").text();
	      				
	      				if(period == "매월"){
	      					$("#periodText").val("일 마다 반복");
	      				}else if(period == "매주"){
	      					$("#periodText").val("마다 반복");
	      					$("#periodInput").addClass("d-none");
	      				}
	      			});
	      			
	      			// 버튼 클릭 시 버튼 스타일 변경
	      			 // 수입 버튼
	      			$("#incomeBtn").on("click", function(){
	      				$("#incomeBtn").removeClass("btn-outline-success");
	      				$("#incomeBtn").addClass("btn-success");
	      				
	      				$("#outgoingBtn").removeClass("btn-danger");
	      				$("#outgoingBtn").addClass("btn-outline-danger");
	      				$("#transferBtn").removeClass("btn-secondary");
	      				$("#transferBtn").addClass("btn-outline-secondary");
	      			});
	      			// 지출 버튼
	      			$("#outgoingBtn").on("click", function(){
	      				$("#outgoingBtn").removeClass("btn-outline-danger");
	      				$("#outgoingBtn").addClass("btn-danger");
	      				
	      				$("#incomeBtn").removeClass("btn-success");
	      				$("#incomeBtn").addClass("btn-outline-success");
	      				$("#transferBtn").removeClass("btn-secondary");
	      				$("#transferBtn").addClass("btn-outline-secondary");
	      			}); 
	      			// 이체 버튼
	      			$("#transferBtn").on("click", function(){
	      				$("#transferBtn").removeClass("btn-outline-secondary");
	      				$("#transferBtn").addClass("btn-secondary");
	      				
	      				$("#outgoingBtn").removeClass("btn-danger");
	      				$("#outgoingBtn").addClass("btn-outline-danger");
	      				$("#incomeBtn").removeClass("btn-success");
	      				$("#incomeBtn").addClass("btn-outline-success");
	      			}); 
	      		});
	      	</script>
	      