<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>고정비 추가</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
	      	<div>
	      		<!-- 수입 지출 이체 구분 -->
	      		<div class="d-flex align-items-center modalText" >
	      			<div class="col-4">분류</div>
	      			<button type="button" id="incomeBtn" class="btn btn-sm btn-outline-success col-2 mr-1">수입</button>
	      			<button type="button" id = "outgoingBtn" class="btn btn-sm btn-outline-danger col-2 ml-1 mr-1 ">지출</button>
	      			<button type="button" id="transferBtn" class="btn btn-sm btn-outline-secondary col-2 ml-1 mr-1 ">이체</button>
	      		</div>
	      		
	      		<!-- 반복주기 -->
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">반복주기</div>
	      			<select class="form-control col-2 form-control-sm" id="periodSelect">
	      				<option value="M">매월</option>
	      				<option value="W">매주</option>
	      				<option value="Daily">매일</option>
	      			</select>
	      			<input type="number" class="inputBottomBorder col-2 ml-1" id="periodInput" min="1" max="31" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"> 
	      			<select class="form-control col-3 ml-1 d-none" id="weekPeriod">
	      				<option value="Mon">월요일</option>
	      				<option value="Tue">화요일</option>
	      				<option value="Wed">수요일</option>
	      				<option value="Thu">목요일</option>
	      				<option value="Fri">금요일</option>
	      				<option value="Sat">토요일</option>
	      				<option value="Sun">일요일</option>
	      			</select>
	      			<div id = "periodText">일마다 반복</div>
	      		</div>
	      		
	      		<!-- 자산 -->
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">자산</div>
	      			<select class="form-control form-control-sm col-4" th:if="${not #lists.isEmpty(assetsList)}" id = "assetsSelected">
      					<option th:each = "assets : ${assetsList}" th:text="${assets.assetsName}"></option>
      				</select>
      				<button th:unless="${not #lists.isEmpty(assetsList)} " class="btn btn-outline-secondary btn-sm d-flex align-items-center">
     					<i class="bi bi-plus-circle mr-2"></i>
     					자산 추가하기
     				</button>
	      		</div>
	      		
	      		<!-- 카테고리 -->
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">카테고리</div>
	      			<select class="form-control form-control-sm col-4"  th:if="${not #lists.isEmpty(categoryList)}" id="categorySelected">
      					<option th:each = "category : ${categoryList}" th:text="${category.categoryName}"></option>
      				</select>
      				<button th:unless="${not #lists.isEmpty(categoryList)}" class="btn btn-outline-secondary btn-sm d-flex align-items-center">
     					<i class="bi bi-plus-circle mr-2"></i>
     					카테고리 추가하기
     				</button>
	      		</div>
	      		
	      		<!-- 세부 카테고리 -->
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">세부 카테고리</div>
	      			<select class="form-control form-control-sm col-4" th:if="${not #lists.isEmpty(detailCategoryList)}">
      					<option th:each = "detailCategory : ${detailCategoryList}" th:text="${detailCategory.detailCategoryName}"></option>
      				</select>
      				<button th:unless="${not #lists.isEmpty(detailCategoryList)}" class="btn btn-outline-secondary btn-sm d-flex align-items-center">
     					<i class="bi bi-plus-circle mr-2"></i>
     					세부 카테고리 추가하기
     				</button>
	      		</div>
	      		
	      		<!-- 내역명 -->
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">내역</div>
	      			<input type="text" class="inputBottomBorder ml-1 col-7">
	      		</div>
	      		
	      		<!-- 금액 -->
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">금액</div>
	      			<input type="number" class="inputBottomBorder ml-1 col-7" >
	      		</div>
	      		
	      		<!-- 메모 -->
	      		<div class="d-flex align-items-center mt-3 modalText">
	      			<div class="col-4">메모</div>
	      		</div>
	      		<div class="d-flex justify-content-center">
	      			<textarea class="form-control mt-1 col-11" rows = "8"></textarea>
	      		</div>
	      		<img src="" class="mt-2">
	      		<input type="file" class="col-10 mt-2">
	      		
	      	</div>
	      	
	      	
	      	<div class="d-flex justify-content-between mt-2">
	      		<button type="button" class="btn btn-outline-danger">삭제</button>
	        	<button type="button" class="btn btn-outline-dark" id="submitBtn">완료</button>
	      	</div>
	      	
	      	
	      	<script
		      src="https://code.jquery.com/jquery-3.7.1.min.js"
		      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
		      crossorigin="anonymous">
		    </script>
    
    
		    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
		    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script
		    >
	      	<script>
	      		$(document).ready(function(){
	      			
	      			// 완료 버튼 클릭
	        		$("#submitBtn").on("click", function(){
	        			
	        			// 분류
	        			if($("#incomeBtn").hasClass("btn-success")){
	        				
	        			}else if($("#outgoingBtn").hasClass("btn-danger")){
	        				
	        			}else if($("#transferBtn").hasClass("btn-secondary")){
	        				
	        			}else{
	        				alert("분류를 선택해주세요!"); // 유효성 검사
	        				return ;
	        			}
	        			
	        			// 주기
	        			let period = $("#periodSelect :selected").text();
	        			let finalPeriod = "";
	        			
	        			
	        			if(period == "매월"){
	      					let Mperiod = $("#periodInput").val();
	      					if(Mperiod == null){ // 유효성 검사
	      						alert("반복일을 입력해주세요!");
	      						return ;
	      					}
	      					finalPeriod = "M" + Mperiod;
	      					
	      				}else if(period == "매주"){
	      					let Wperiod = $("#weekPeriod").val();
	      					if(Wperiod == null){ // 유효성 검사
	      						alert("요일을 선택해주세요!");
	      						return ;
	      					}
	      					finalPeriod = "W" + Wperiod;
	      					
	      				}else{
	      					finalPeriod = "Daily";
	      				};
	      				
	      				// 자산
	      				let assets = $("#assetsSelected :selected").text();
	      				
	      				if(assets == null){
	      					alert("자산을 선택해주세요!"); // 유효성 검사
	      				}
	      				
	      				// 카테고리 - 비어있어도 됨
	      				let category = $("#categorySelected : selected").text();
	      				
	      				// 세부 카테고리 - 비어있어도 됨
	      				
	      				
	      				// 내역명
	      				
	      				// 금액
	      				
	      				// 메모
	      				
	      				// 메모 사진
	      				
	      				
	        		});
	      			
	      			
	      			// 반복주기에 따라 뒤에 오는 글자를 다르게 하기
	      			$("#periodSelect").change(function(){
	      				let period = $("#periodSelect :selected").text();
	      				
	      				if(period == "매월"){
	      					$("#weekPeriod").addClass("d-none");
	      					$("#periodInput").removeClass("d-none");
	      					$("#periodText").val("일 마다 반복");
	      				}else if(period == "매주"){
	      					$("#periodText").text("마다 반복");
	      					$("#periodInput").addClass("d-none");
	      					$("#weekPeriod").removeClass("d-none");
	      				}else{
	      					$("#periodInput").addClass("d-none");
	      					$("#weekPeriod").addClass("d-none");
	      					$("#periodText").addClass("d-none");
	      				}
	      			});
	      			
	      			// 버튼 클릭 시 버튼 스타일 변경
	      			 // 수입 버튼
	      			$("#incomeBtn").on("click", function(){
	      				$("#incomeBtn").removeClass("btn-outline-success");
	      				$("#incomeBtn").addClass("btn-success");
	      				
	      				$("#outgoingBtn").removeClass("btn-danger");
	      				$("#outgoingBtn").addClass("btn-outline-danger");
	      				$("#transferBtn").removeClass("btn-secondary");
	      				$("#transferBtn").addClass("btn-outline-secondary");
	      			});
	      			// 지출 버튼
	      			$("#outgoingBtn").on("click", function(){
	      				$("#outgoingBtn").removeClass("btn-outline-danger");
	      				$("#outgoingBtn").addClass("btn-danger");
	      				
	      				$("#incomeBtn").removeClass("btn-success");
	      				$("#incomeBtn").addClass("btn-outline-success");
	      				$("#transferBtn").removeClass("btn-secondary");
	      				$("#transferBtn").addClass("btn-outline-secondary");
	      			}); 
	      			// 이체 버튼
	      			$("#transferBtn").on("click", function(){
	      				$("#transferBtn").removeClass("btn-outline-secondary");
	      				$("#transferBtn").addClass("btn-secondary");
	      				
	      				$("#outgoingBtn").removeClass("btn-danger");
	      				$("#outgoingBtn").addClass("btn-outline-danger");
	      				$("#incomeBtn").removeClass("btn-success");
	      				$("#incomeBtn").addClass("btn-outline-success");
	      			}); 
	      		});
	      	</script>
	      