<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default}">
        
    <section layout:fragment="mainContents" class="mainContents p-3">
    	<!-- 제목 및 버튼 -->
    	<div class="d-flex justify-content-between">
    		<div><h3>고정비 작성</h3></div>
    		<div class="d-flex col-4 align-items-center justify-content-end">
    			<button id="fixedCostModalAdd" class="btn btn-light d-flex align-items-center border mr-2 col-4 justify-content-center">
    				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle mr-2" viewBox="0 0 16 16">
						<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
						<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
					</svg>
    				<div>내역 추가</div>
    			</button>
    			<div class="d-flex align-items-center input-group">
	    			<input type="search" class="form-control ">
	    			<div class="input-group-append">
		    			<svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="currentColor" class="bi bi-search pl-2 input-group-text" viewBox="0 0 16 16">
							<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
						</svg>
					</div>
    			</div>
    			
    		</div>
    	</div>
    	<!-- 테이블 -->
    	<div class="detailSection mt-2">
    		<table class="table detailTable text-center table-hover">
    			<thead class="table-secondary">
    				<tr>
    					<th>분류</th>
    					<th>날짜</th>
    					<th>자산</th>
    					<th>카테고리</th>
    					<th>세부 카테고리</th>
    					<th>내역</th>
    					<th>금액</th>
   					</tr>
    			</thead>
    			<tbody>
    				<tr id="fixedCostDetail" th:each="FC, FCStat : ${fixedCostList}">
    					<td><span class="text-danger" th:text="${FC.classification}">수입</span></td>
    					<td th:text="|${FC.period}일|">매월 1일</td>
    					<td th:text="${FC.assetsName}">카카오뱅크 생활비 통장</td>
    					<td th:text="${FC.categoryName}">주거/통신비</td>
    					<td th:text="${FC.detailCategoryName}">월세</td>
    					<td th:text="${FC.fixedCostName}"></td>
    					<td>
    						<span th:if = "${FC.classification} == '지출'" class="text-danger">-</span>
    						<th:block th:switch="${FC.classification}">
    							<span th:case = "지출" class="text-danger" th:text="${FC.fixedCost}"></span>
    							<span th:case = "수입" class="text-danger" th:text="${FC.fixedCost}"></span>
    							<span th:case = "이체" th:text="${FC.fixedCost}"></span>
    						</th:block>
   						</td>
    				</tr>
    			</tbody>
    		</table>
    	</div>
    
	
	<!-- Modal -->
	<div class="modal fade" id="fixedCostModal"  aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered">
	    <div class="modal-content p-3">
	    	<div class=" d-flex justify-content-end">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
	        </div>
	      <div class="modal-body">
	      </div>
	      <div class="modal-footer d-flex justify-content-between">
	        <button type="button" class="btn btn-outline-danger">삭제</button>
	        <button type="button" class="btn btn-outline-dark">수정</button>
	      </div>
	    </div>
	  </div>
	</div>
    
    </section>
    
    <script layout:fragment="script">
    
    	$(document).ready(function(){
    		
    		// 내역추가 버튼 클릭
    		$("#fixedCostModalAdd").on("click", function(){
    			$("#fixedCostModal .modal-body").load("/budgetBook/money/fixedCostModal");
    			$("#fixedCostModal").modal("show");
    		});
    		
    		$("#budgetPredictionDetailList").on("click", "tr td:not(:has(.btn))", function(){
    			alert("클릭");
    			
    		}); // 예산 예측 클릭 이벤트 종료
    		
    		// 상세내역 모달 불러오기
    		$("#fixedCostDetail").on("click", function(){
    			$("#fixedCostModal .modal-body").load("/budgetBook/money/fixedCostModal");
    			$("#fixedCostModal").modal("show");
    		}); // 상세내역 모달 불러오기 이벤트 종료
    	}); // 문서 종료
    </script>

</html>