<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default}">
        
    <section layout:fragment="mainContents" class="mainContents p-3">
    	<!-- 제목 및 버튼 -->
    	<div class="d-flex justify-content-between">
    		<div><h3>고정비 작성</h3></div>
    		<div class="d-flex col-4 align-items-center justify-content-end">
    			<button id="fixedCostModalAdd" class="btn btn-light d-flex align-items-center border mr-2 col-4 justify-content-center">
    				<i class="bi bi-plus-circle mr-1"></i>
    				<div>내역 추가</div>
    			</button>
    			<div class="d-flex align-items-center input-group">
	    			<input type="search" class="form-control ">
	    			<div class="input-group-append">
						<span class=" input-group-text"><i class="bi bi-search"></i></span>
					</div>
    			</div>
    			
    		</div>
    	</div>
    	<!-- 테이블 -->
    	<div class="detailSection mt-2">
    		<table class="table detailTable text-center table-hover">
    			<thead class="table-secondary">
    				<tr>
    					<th>분류</th>
    					<th>날짜</th>
    					<th>자산</th>
    					<th>카테고리</th>
    					<th>세부 카테고리</th>
    					<th>내역</th>
    					<th>금액</th>
   					</tr>
    			</thead>
    			<tbody>
    				<tr th:id="|fixedCostDetail${FC.id}|" th:each="FC, FCStat : ${fixedCostList}" th:data-fixed-cost-id = "${FC.id}">
    					<td>
    						<th:block th:switch="${FC.classification}">
    							<span th:case = "지출" class="text-danger" th:text="${FC.classification}"></span>
    							<span th:case = "수입" class="text-success" th:text="${FC.classification}"></span>
    							<span th:case = "이체" th:text="$${FC.classification}"></span>
    						</th:block>
   						</td>
    					<td th:text="${FC.period}">매월 1일</td>
    					<td th:text="${FC.assetsName}">카카오뱅크 생활비 통장</td>
    					<td th:text="${FC.categoryName}">주거/통신비</td>
    					<td th:text="${FC.detailCategoryName}">월세</td>
    					<td th:text="${FC.fixedCostName}"></td>
    					<td>
    						<span th:if = "${FC.classification} == '지출'" class="text-danger">-</span>
    						<th:block th:switch="${FC.classification}">
    							<span th:case = "지출" class="text-danger" th:text="${FC.fixedCost}"></span>
    							<span th:case = "수입" class="text-success" th:text="${FC.fixedCost}"></span>
    							<span th:case = "이체" th:text="${FC.fixedCost}"></span>
    						</th:block>
   						</td>
    				</tr>
    			</tbody>
    		</table>
    	</div>
    
	
	<!-- Modal -->
	<div class="modal fade" id="fixedCostModal"  aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered">
	    <div class="modal-content p-3">
	    	<div class=" d-flex justify-content-end">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
	        </div>
	      <div class="modal-body">
	      </div>
	    </div>
	  </div>
	</div>
    
    </section>
    
    <script layout:fragment="script">
    
    	$(document).ready(function(){
    		
    		
    		// 내역추가 버튼 클릭
    		$("#fixedCostModalAdd").on("click", function(){
    			$("#fixedCostModal .modal-body").load("/budgetBook/money/fixedCostModal");
    			$("#fixedCostModal").modal("show");
    		});
    		
    		$("#budgetPredictionDetailList").on("click", "tr td:not(:has(.btn))", function(){
    			alert("클릭");
    			
    		}); // 예산 예측 클릭 이벤트 종료
    		
    		// 상세내역 모달 불러오기
    		$("[id^='fixedCostDetail']").on("click", function(){
    			let fixedCostId = $(this).data("fixed-cost-id");
    			$("#fixedCostModal .modal-body").load("/budgetBook/money/fixedCostEditModal?fixedCostId=" + fixedCostId);
    			$("#fixedCostModal").modal("show");
    		}); // 상세내역 모달 불러오기 이벤트 종료
    	}); // 문서 종료
    </script>

</html>