<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default}">
<script layout:fragment="scriptTop">
	document.addEventListener('DOMContentLoaded', function() {
		var ajaxevent = [];
		$.ajax({
			type : "post"
			, url : "/budgetBook/money/calendar/dayList"
			, data : {}
			, async : false
			, success : function(data){
				for(let i ; data.length >= i ; i++){
					events.push({
						title : data[i].title
						, start : data[i].start
						, backgroundColor : data[i].backgroundColor
						, borderColor : data[i].borderColor
						, textColor : data[i].textColor
					});
				};
			}
			, error : function() {
				alert("달력 데이터 받아오기 에러!")
			}
		});
		var calendarEl = document.getElementById('calendar');
		var calendar = new FullCalendar.Calendar(calendarEl, {
			initialView: 'dayGridMonth'
			, events : ajaxevent
	    });
		calendar.render();
		
		calendar.setOption('height', "100%");
	});
</script>
    <section layout:fragment="mainContents" class="mainContents">
    	<!-- 예산소진 화면 -->
    	<div class="budgetExhausted border-bottom">
    		<h3 class="pl-2 mt-2">현재 예산 소진 상황</h3>
    		<div class="d-flex align-items-center mb-2" style="width:100%; flex-direction: row;">
	    		<div class="pl-2 pr-2">전체 예산</div>
	    		<div class="progress d-flex align-items-center justify-content-between" style="flex-grow: 1;">
	    			<div th:if = "${allProportion.proportion < 100.0}" class="pl-2 progress-bar" th:style="|width: ${allProportion.proportion}%; height : 100%;|" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" th:text="${#numbers.formatInteger(allProportion.breakdownSum, 3, 'COMMA')}">사용금액</div>
	    			<div th:unless = "${allProportion.proportion < 100.0}" class="pl-2 progress-bar bg-danger" th:style="|width: ${allProportion.proportion}%; height : 100%;|" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" th:text="${#numbers.formatInteger(allProportion.breakdownSum, 3, 'COMMA')}">사용금액</div>
	    			
	    		</div>
	    		<div class="ml-2" th:text="|${#numbers.formatDecimal(allProportion.proportion,1,1)}%|"></div>
			</div>
			<div class="ml-5 mr-5 ">
				<div class="d-flex justify-content-between mb-2 row row-cols-3">
					<!-- 반복 -->
					<div class="col col-4 miniProgress mt-2" th:each = "category : ${categoryList}">
						<div class="d-flex col-12 align-items-center">
							<div class="col-5 d-flex justify-content-end" th:text="${category.categoryName}">생활비</div>
							<div class="progress d-flex align-items-center justify-content-between" style="flex-grow: 1;">
				    			<div th:if = "${category.proportion < 100.0}" class="pl-2 progress-bar bg-success" th:style="|width: ${category.proportion}%; height : 100%;|" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
				    			<div th:unless = "${category.proportion < 100.0}" class="pl-2 progress-bar bg-danger" th:style="|width: ${category.proportion}%; height : 100%;|" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
				    		</div>
				    		<div th:text="|${#numbers.formatDecimal(category.proportion,1,1)}%|" class="ml-2"></div>
			    		</div>
			    		<div th:unless="${category.proportion < 100.0}" class="text-danger d-flex align-items-center justify-content-center" style="font-size : 13px; font-weight:bold;">!예산이 초과했습니다!</div>
					</div>
				</div>
			</div>
    	</div>
    	
    	<div class="d-flex downSection">
    		<!-- 고정비, 사용 예측, 실제 사용 내역 -->
    		<div class="fixedCostAndbudgetPrediction border-right">
    			<!-- 고정비 -->
    			<div class="mt-2 mb-3 pl-2 pr-2">
    				<div class="h4">고정비</div>
    				<div>
    					<table class="table table-sm text-center">
    						<tr id="" th:each = "fixedCost : ${fixedCostList}">
    							<td class="d-flex justify-content-center">
		    						<span th:if="${#strings.substring(fixedCost.period, 0, 2) =='매월'}" th:text="|매월 ${#strings.substring(fixedCost.period, 2, 4)}일|"></span>
		    						<span th:if="${#strings.substring(fixedCost.period, 0, 2) =='매주'}" th:text="|매주 ${#strings.substring(fixedCost.period, 2, 3)}|"></span>
		    						<span th:if="${#strings.substring(fixedCost.period, 0, 2) =='매일'}" th:text="${fixedCost.period}"></span>
    							<td>
    								<span th:if="${fixedCost.fixedCostName.length > 3 }" th:text="|${#strings.substring(fixedCost.fixedCostName, 0, 3)}···|"></span>
    								<span th:unless="${fixedCost.fixedCostName.length > 3 }" th:text="${fixedCost.fixedCostName}"></span>
    							</td>
    							<td th:text="${#numbers.formatInteger(fixedCost.fixedCost, 3, 'COMMA')}">500,000</td>
    							<td class="dropdown">
    								<button class="btn btn-sm dropdown-toggle" data-toggle="dropdown" value="bank" th:text="${fixedCost.assetsName}" th:style="|background-color : ${fixedCost.assetsColor}|">카카오뱅크</button>
	    							<ul class="dropdown-menu">
									    <li th:each="assets : ${assetsList}"><a class="dropdown-item" href="#" th:data-fixed-cost-assets-id = "${assets.id}" th:data-assets-fixed-cost-id = "${fixedCost.id}" th:text="${assets.assetsName}" th:id="|fixedCostAssetsId${assets.id}|">하나은행</a></li>
									 </ul>
    							</td>
    							<td class="dropdown">
    								<button th:if="${fixedCost.categoryName == ''}" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" value="category" th:style="|background-color : ${fixedCost.categoryColor}|">주거/통신비</button>
    								<button th:unless="${fixedCost.categoryName == ''}" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" value="category" th:text="${fixedCost.categoryName}" th:style="|background-color : ${fixedCost.categoryColor}|">주거/통신비</button>
	    							<ul class="dropdown-menu">
									    <li th:each="category : ${categoryList}"><a class="dropdown-item" href="#" th:data-fixed-cost-category-id = "${category.id}" th:data-category-fixed-cost-id = "${fixedCost.id}" th:text="${category.categoryName}" th:id="|fixedCostCategoryId${category.id}|">하나은행</a></li>
									 </ul>
    							</td>
    							<td class=" dotClick">
    								<i class="bi bi-three-dots-vertical" data-toggle="dropdown"></i>
    								<ul class="dropdown-menu">
									    <li><a class="dropdown-item" th:id = "|fixedCostDetail${fixedCost.id}|" th:data-fixed-cost-id = "${fixedCost.id}">수정</a></li>
									    <li><hr class="dropdown-divider"></li>
									    <li><a class="dropdown-item text-danger" th:id = "|fixedCostDelete${fixedCost.id}|" th:data-fixed-cost-delete-id = "${fixedCost.id}" href="#">삭제</a></li>
									 </ul>
    							</td>
    						</tr>
    						
    					</table>
    				</div>
    			</div>
    			<!-- 예산 예측 -->
    			<div class=" pl-2 pr-2">
    				<div class="h4">사용 예측 내역</div>
    				<div>
    					<!-- 예산예측 내역 리스트 -->
    					<table class="table table-sm text-center" id="budgetPredictionDetailList">
    						<tr class="dropdown" th:each="breakdown : ${breakdownPreList}">
    							<td>
    								<span th:if="${breakdown.breakdownName.length > 3 }" th:text="|${#strings.substring(breakdown.breakdownName, 0, 3)}···|"></span>
    								<span th:unless="${breakdown.breakdownName.length > 3 }" th:text="${breakdown.breakdownName}"></span>
    								
    							</td>
    							<td>
    								<div th:text="${#numbers.formatInteger(breakdown.remainCost, 3, 'COMMA')}">500,000</div>
    							</td>
    							<td>
    								<button class="btn btn-sm dropdown-toggle" data-toggle="dropdown" value="bank" th:text="${breakdown.assetsName}" th:style = "|background-color : ${breakdown.assetsColor}|">카카오뱅크</button>
	    							<ul class="dropdown-menu">
									    <li th:each="assets : ${assetsList}"><a class="dropdown-item" href="#" th:text="${assets.assetsName}" th:id="|breakdownAssetsId${assets.id}|" th:data-breakdown-assets-id = "${assets.id}" th:data-assets-breakdown-id = "${breakdown.id}">하나은행</a></li>
									 </ul>
    							</td>
    							<td class="dropdown">
    								<button th:if="${breakdown.categoryName == ''}" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" value="category" th:style="|background-color : ${breakdown.categoryColor}|">주거/통신비</button>
    								<button th:unless="${breakdown.categoryName == ''}" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" value="category" th:text="${breakdown.categoryName}" th:style="|background-color : ${breakdown.categoryColor}|">주거/통신비</button>
	    							<ul class="dropdown-menu">
									    <li th:each="category : ${categoryList}"><a class="dropdown-item" href="#" th:text="${category.categoryName}" th:id="|breakdownCategoryId${category.id}|" th:data-breakdown-category-id = "${category.id}" th:data-category-breakdown-id = "${breakdown.id}">하나은행</a></li>
									 </ul>
    							</td>
    							<td class=" dotClick">
    								<i class="bi bi-three-dots-vertical" data-toggle="dropdown"></i>
    								<ul class="dropdown-menu">
									    <li><a class="dropdown-item" th:id = "|breakdownSelect${breakdown.id}|" th:data-breakdown-id = "${breakdown.id}">수정</a></li>
									    <li><hr class="dropdown-divider"></li>
									    <li><a class="dropdown-item text-danger" th:id = "|breakdownDelete${breakdown.id}|" th:data-breakdown-delete-id = "${breakdown.id}">삭제</a></li>
									    <li><hr class="dropdown-divider"></li>
									    <li><a class="dropdown-item" th:id="|partUseId${breakdown.id}|" th:data-breakdown-piece-id = "${breakdown.id}">일부 사용</a></li>
									 </ul>
    							</td>
    						</tr>
    					</table>
    					
    				</div>
    			</div>
    			
    			<!-- 실제 내역 리스트 -->
    			<div class=" pl-2 pr-2">
    				<div class="h4">실제 사용 내역</div>
    				<div>
    					<!-- 실제 내역 리스트 -->
    					<table class="table table-sm text-center" id="budgetPredictionDetailList">
    						<tr class="dropdown" th:each="breakdown : ${breakdownList}" >
    							<td>
    								<span th:if="${breakdown.breakdownName.length > 3 }" th:text="|${#strings.substring(breakdown.breakdownName, 0, 3)}···|"></span>
    								<span th:unless="${breakdown.breakdownName.length > 3 }" th:text="${breakdown.breakdownName}"></span>
    								
    							</td>
    							<td>
    								<div th:text="${#numbers.formatInteger(breakdown.cost, 3, 'COMMA')}">500,000</div>
    								
    							</td>
    							<td class="dropdown">
    								<button class="btn btn-sm dropdown-toggle" data-toggle="dropdown" value="bank" th:text="${breakdown.assetsName}" th:style = "|background-color : ${breakdown.assetsColor}|">카카오뱅크</button>
	    							<ul class="dropdown-menu">
									    <li th:each="assets : ${assetsList}"><a class="dropdown-item" href="#" th:text="${assets.assetsName}" th:id="|breakdownAssetsId${assets.id}|" th:data-breakdown-assets-id = "${assets.id}" th:data-assets-breakdown-id = "${breakdown.id}">하나은행</a></li>
									 </ul>
    							</td>
    							<td class="dropdown">
    								<button th:if="${breakdown.categoryName == ''}" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" value="category" th:style="|background-color : ${breakdown.categoryColor}|">주거/통신비</button>
    								<button th:unless="${breakdown.categoryName == ''}" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" value="category" th:text="${breakdown.categoryName}" th:style="|background-color : ${breakdown.categoryColor}|">주거/통신비</button>
	    							<ul class="dropdown-menu">
									    <li th:each="category : ${categoryList}"><a class="dropdown-item" href="#" th:text="${category.categoryName}" th:id="|breakdownCategoryId${category.id}|" th:data-breakdown-category-id = "${category.id}" th:data-category-breakdown-id = "${breakdown.id}">하나은행</a></li>
									 </ul>
    							</td>
    							<td class=" dotClick">
    								<i class="bi bi-three-dots-vertical" data-toggle="dropdown"></i>
    								<ul class="dropdown-menu">
									    <li><a class="dropdown-item" th:id = "|breakdownSelect${breakdown.id}|" th:data-breakdown-id = "${breakdown.id}">수정</a></li>
									    <li><hr class="dropdown-divider"></li>
									    <li><a class="dropdown-item text-danger"  th:id = "|breakdownDelete${breakdown.id}|" th:data-breakdown-delete-id = "${breakdown.id}">삭제</a></li>
									 </ul>
    							</td>
    						</tr>
    					</table>
    					
    				</div>
    			</div>
    			
    		</div>
    		<!-- 캘린더 -->
    		<div class="calendarSection pl-3 pr-3 pt-2 pb-2">
    			<div id='calendar'></div>
    		</div>
    	</div>
    	
    	<!-- 일부 사용 Modal -->
		<div class="modal fade" id="partUseModal"  aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable ">
		    <div class="modal-content p-3">
		      <div class="modal-body">
		      	
    		  </div>
		    </div>
		  </div>
		</div>
		
		<!-- 내역, 예측 내역 Modal -->
		<div class="modal fade" id="detailModal"  aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered">
		    <div class="modal-content p-3">
		    	<div class=" d-flex justify-content-end">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
		        </div>
		        
		      <div class="modal-body">
		      </div>
		    </div>
		  </div>
		</div>
    	
    	
		
    </section>
    
    <script layout:fragment="script">
    
    
    	$(document).ready(function(){
    		
    		// 예측 내역 및 실제 사용 내역 삭제 버튼 클릭
  			$("[id^='breakdownDelete']").on("click", function(){
  				// breakdownId
    			let breakdownId = $(this).data("breakdown-delete-id");
  				
  				$.ajax({
  					type : "delete"
  					, url : "/budgetBook/money/breakdown/delete"
  					, data : {"breakdownId" : breakdownId}
  					, success : function(data){
  						if(data.result = "success"){
  							location.reload();
  						}else{
  							alert("내역 삭제 실패!");
  						}
  					}
  					, error : function(){
  						alert("내역 삭제 에러!");
  					}
  				});
  			});
    		
    		// 고정비 삭제 버튼 클릭
  			$("[id^='fixedCostDelete']").on("click", function(){
  				// fixedCostId
    			let fixedCostId = $(this).data("fixed-cost-delete-id");
  				
  				$.ajax({
  					type : "delete"
  					, url : "/budgetBook/money/fixedCost/delete"
  					, data : {"fixedCostId" : fixedCostId}
  					, success : function(data){
  						if(data.result = "success"){
  							location.reload();
  						}else{
  							alert("고정비 삭제 실패!");
  						}
  					}
  					, error : function(){
  						alert("고정비 삭제 에러!");
  					}
  				});
  			});
    		
    		// 고정비 모달 불러오기
    		$("[id^='fixedCostDetail']").on("click", function(){
    			let fixedCostId = $(this).data("fixed-cost-id");
    			$("#detailModal .modal-body").load("/budgetBook/money/fixedCostEditModal?fixedCostId=" + fixedCostId);
    			$("#detailModal").modal("show");
    		}); // 고정비 모달 불러오기 이벤트 종료
    		
    		// 일부 사용 시 사용한 내역 선택할 수 있게 하는 모달 띄우기
    		$("[id^='partUseId']").on("click", function(){
    			let breakdownId = $(this).data("breakdown-piece-id");
    			$("#partUseModal .modal-body").load("/budgetBook/money/main/detailModal-view?breakdownId=" + breakdownId);
    			$("#partUseModal").modal("show");
    		});
    		
    		// 상세내역 모달 불러오기
    		$("[id^='breakdownSelect']").on("click", function(){
    			let breakdownId = $(this).data("breakdown-id");
    			$("#detailModal .modal-body").load("/budgetBook/money/detailEditModal?breakdownId=" + breakdownId + "&realTimePrediction=1");
    			$("#detailModal").modal("show");
    		}); // 상세내역 모달 불러오기 이벤트 종료
    		
    		// 고정비 카테고리 수정
    		$("[id^='fixedCostCategoryId']").on("click", function(){
    			let categoryId = $(this).data("fixed-cost-category-id");
    			let fixedCostId = $(this).data("category-fixed-cost-id");
    			
  				// FormData
  				let formData = new FormData();
  				formData.append("categoryId", categoryId);
    			formData.append("fixedCostId", fixedCostId);
    			
    			$.ajax({
    				type : "put"
    				, url : "/budgetBook/money/fixedCost/category/update"
    				, data : formData
    				, processData : false
                    , contentType : false
                    , success : function(data){
                    	if(data.result == "success"){
                    		location.reload();
                    	}else{
                    		alert("고정비 카테고리 수정 실패!");
                    	}
                    }
    				, error : function(){
    					alert("고정비 카테고리 수정 에러!");
    				}
    			});
    		});
    		
    		// 고정비 자산 수정
    		$("[id^='fixedCostAssetsId']").on("click", function(){
    			let assetsId = $(this).data("fixed-cost-assets-id");
    			let fixedCostId = $(this).data("assets-fixed-cost-id");
    			
  				// FormData
  				let formData = new FormData();
  				formData.append("assetsId", assetsId);
    			formData.append("fixedCostId", fixedCostId);
    			
    			$.ajax({
    				type : "put"
    				, url : "/budgetBook/money/fixedCost/assets/update"
    				, data : formData
    				, processData : false
                    , contentType : false
                    , success : function(data){
                    	if(data.result == "success"){
                    		location.reload();
                    	}else{
                    		alert("고정비 자산 수정 실패!");
                    	}
                    }
    				, error : function(){
    					alert("고정비 자산 수정 에러!");
    				}
    			});
    		});
    		
    		// 내역 카테고리 수정
    		$("[id^='breakdownCategoryId']").on("click", function(){
    			let categoryId = $(this).data("breakdown-category-id");
    			let breakdownId = $(this).data("category-breakdown-id");
    			
  				// FormData
  				let formData = new FormData();
  				formData.append("categoryId", categoryId);
    			formData.append("breakdownId", breakdownId);
    			
    			$.ajax({
    				type : "put"
    				, url : "/budgetBook/money/breakdown/category/update"
    				, data : formData
    				, processData : false
                    , contentType : false
                    , success : function(data){
                    	if(data.result == "success"){
                    		location.reload();
                    	}else{
                    		alert("내역 카테고리 수정 실패!");
                    	}
                    }
    				, error : function(){
    					alert("내역 카테고리 수정 에러!");
    				}
    			});
    		});
    		
    		// 내역 자산 수정
    		$("[id^='breakdownAssetsId']").on("click", function(){
    			let assetsId = $(this).data("breakdown-assets-id");
    			let breakdownId = $(this).data("assets-breakdown-id");
    			
  				// FormData
  				let formData = new FormData();
  				formData.append("assetsId", assetsId);
    			formData.append("breakdownId", breakdownId);
    			
    			$.ajax({
    				type : "put"
    				, url : "/budgetBook/money/breakdown/assets/update"
    				, data : formData
    				, processData : false
                    , contentType : false
                    , success : function(data){
                    	if(data.result == "success"){
                    		location.reload();
                    	}else{
                    		alert("내역 자산 수정 실패!");
                    	}
                    }
    				, error : function(){
    					alert("내역 자산 수정 에러!");
    				}
    			});
    		});
    	}); // 문서 종료
    </script>

</html>