<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default}">
        
    <section layout:fragment="mainContents" class="mainContents p-3">
    	<div class="d-flex align-items-center">
    		<!-- 월 -->
   			<i class="bi bi-chevron-left"></i>
   			<h3 class="ml-3 mr-3">10월</h3>
   			<i class="bi bi-chevron-right"></i>
    		
    		<!-- 수입 / 지출 -->
    		<a href="/budgetBook/money/statics/income-view" class="ml-4 notThisPageText">수입</a>
    		<a href="/budgetBook/money/statics/outgoing-view" class="ml-4 thisPageText">지출</a>
    	</div>
    	
    	<div class="d-flex">
    		<div class="col-3 borderSection">
    			<h3 class="mt-2">카테고리 별 지출</h3>
    			<canvas id="pieChart" style = "width : 100%; height : 400px;"></canvas>
    			<div style = "font-size : 20px;">전체</div>
    			<table class="table detailTable text-center table-hover">
    				<thead class="table-secondary">
    				<tr>
    					<th>카테고리</th>
    					<th>금액</th>
    					<th>비율</th>
   					</tr>
    			</thead>
    			<tbody>
    				<tr th:each = "category : ${categoryList}">
    					<td th:text="${category.categoryName}">주거/통신비</td>
    					<td th:text="${#numbers.formatInteger(category.categoryCost, 3, 'COMMA')}">600,000</td>
    					<td th:text="|${#numbers.formatDecimal(category.proportion,1,1)}%|">56%</td>
    				</tr>
    			</table>
    		</div>
    		
    		<div class="ml-2 col-9 borderSection">
    			<h3 class="mt-2">카테고리 별 지출 비교</h3>
				<canvas id="barChart" style = "width : 100%; height : 400px;"></canvas>
				<div style = "font-size : 20px;">주거/통신비</div>
				<table class="table detailTable text-center table-hover">
	    			<thead class="table-secondary">
	    				<tr>
	    					<th>분류</th>
	    					<th>날짜</th>
	    					<th>자산</th>
	    					<th>카테고리</th>
	    					<th>세부 카테고리</th>
	    					<th>내역</th>
	    					<th>금액</th>
	   					</tr>
	    			</thead>
	    			<tbody>
	    				<tr id="detailList">
	    					<td><span class="text-danger">지출</span></td>
	    					<td>10월 1일</td>
	    					<td>카카오뱅크 생활비 통장</td>
	    					<td>주거/통신비</td>
	    					<td>월세</td>
	    					<td></td>
	    					<td><span class="text-danger">-500,000</span></td>
	    				</tr>
	    				
	    			</tbody>
	    		</table>
			</div>
    	</div>
    	
    	<!-- Modal -->
	<div class="modal fade" id="detailModal"  aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered">
	    <div class="modal-content p-3">
	    	<div class=" d-flex justify-content-end">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
	        </div>
	      <div class="modal-body">
	      </div>
	      <div class="modal-footer d-flex justify-content-between">
	        <button type="button" class="btn btn-outline-danger">삭제</button>
	        <button type="button" class="btn btn-outline-dark">수정</button>
	      </div>
	    </div>
	  </div>
	</div>
    
    </section>
    
    <script layout:fragment="script">
    
    	$(document).ready(function(){
    		
    		let categoryColor = [];
    		
    		// 
    		/* $.ajax({
    			
    		}); */
    		
    		// 차트 데이터
    		var dataset = {
   			    label: "자산",
   			    backgroundColor: ['#ffd950', '#02bc77', '#28c3d7', '#FF6384'],//라벨별 컬러설정
   			    data: [50, 45, 75, 40],
   			 	borderWidth: 1,
	   			 datalabels: {
	   		       align: 'end',
	   		       anchor: 'end',
	   		     }
   			}

   			var labels=['주거/통신비','생활비','교육비','기타']; 
   			  
   			var datasets={ datasets:[dataset], labels:labels }
    		
   			// 파이차트 생성
    		const ctx = document.getElementById('pieChart');
    		
    		var config = {
    			    type: 'pie',
    			    data: datasets,
    			    options: {
    			      responsive: false,
    			      layout: {
   			            padding: {
   			            	bottom : 30
   			            }
   			          },
   			          plugins: {
   			        	legend: {
   	   			            display: true,
   	   			            position : "bottom"
   	   			        }
   			          }
   			     }
   			 }
			
			new Chart(ctx, config);
    		
    		const ctx2 = document.getElementById('barChart');
    		
    		var config = {
    			    type: 'bar',
    			    data: datasets,
    			    options: {
						responsive: false,
						plugins: {
							legend: {
								display: false
							}
						}
					}
				}
    		
    		new Chart(ctx2, config);
    		
    		// 상세내역 모달 불러오기
    		$("#detailList").on("click", function(){
    			$("#detailModal .modal-body").load("/budgetBook/money/detailModal");
    			$("#detailModal").modal("show");
    		}); // 상세내역 모달 불러오기 이벤트 종료

    	}); // 문서 종료
    </script>

</html>