<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>budgetBook join</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
	<div class="d-flex justify-content-center">
		<div id="wrap" class="d-flex justify-content-center align-items-center">
			<div class="centerDisplay">
				<!-- 로고 -->
				<div class="d-flex justify-content-center">
					<img style="width : 10vw;" src="https://k.kakaocdn.net/14/dn/btsKA68JLUK/Ub5fKH9jS7VhJVLahkB6M0/o.jpg">
				</div>
				
				<!-- 회원가입 화면 -->
				<div class="ml-2 mr-2">
					<!-- 회원가입 부분 -->
					<div>
						<!-- 회원가입 글자 -->
						<div><h2>회원가입</h2></div>
						<!-- 아이디, 비밀번호 입력 -->
						<label>아이디</label>
						<div class="input-group">
							<input type="text" placeholder="아이디를 입력하세요" class="form-control" id="loginId">
							<div class="input-group-append">
								<button class="btn btn-outline-secondary" type="button" id="loginIdDuplicateBtn">중복확인</button>
							</div>
						</div>
						<div class="text-success text-sm mt-2 d-none" id = "nonDuplicateLoginId">사용 가능한 아이디입니다.</div>
						<div class="text-danger text-sm mt-2 d-none" id = "duplicateLoginId">중복된 아이디입니다.</div>
						
						<label class="mt-3">비밀번호</label>
						<div class="d-flex input_password">
							<input type="password" placeholder="비밀번호를 입력하세요" class="form-control" width="100%" id="password">
							<div class="input_password_eye">
								<i class="bi bi-eye" id="showEye"></i> <!-- 뜬 눈 --><!-- 감은 눈 bi-eye-slash -->
							</div>
						</div>
						
						<!-- 이메일 -->
						<label class="mt-3">이메일</label>
						<div class="input-group">
							<input type="text" placeholder="이메일을 입력하세요" class="form-control" id="email">
							<div class="input-group-append">
								<button class="btn btn-outline-secondary" type="button" id="emailDuplicateBtn">중복확인</button>
							</div>
						</div>
						<div class="text-success text-sm mt-2 d-none" id = "nonDuplicateEmail">사용 가능한 이메일입니다.</div>
						<div class="text-danger text-sm mt-2 d-none" id = "duplicateEmail">중복된 이메일입니다.</div>
						
						<!-- 인증번호 확인 버튼 -->
						<button class="btn btn-outline-secondary mt-3" type="button" id="verificationCodeBtn">인증번호 확인</button>
						
						<!-- 인증번호 확인버튼 클릭 후 -->
						<div class="d-none" id="verificationCode">
							<!-- 인증번호 확인 -->
							<div>
								<label class="mt-3">인증번호 확인</label>
								<span id="certificationTime" class="ml-2">03:00</span>
								<button type="button" class="btn btn-sm btn-outline-secondary ml-2">재발송</button>
								
								<div class="input-group">
									<input type="text" placeholder="인증번호를 입력하세요" class="form-control" id="verificationCode">
									<button class="btn btn-outline-secondary" type="button" id="verificationCodeCheckBtn">인증번호 확인</button>
								</div>
							</div>
							<!-- 인증번호 확인 후 문구 -->
							<div>
								<div id="numberCheckSuccess" class="text-success text-sm mt-2 d-none">인증번호 인증에 성공하였습니다.</div>
								<div id="numberCheckFail" class="text-danger text-sm mt-2 d-none">인증번호 인증에 실패하였습니다.</div>
							</div>
						</div>
						
						<!-- 회원가입 버튼 -->
						<button class="btn btn-dark btn-block mt-3" id="joinBtn">회원가입</button>
						
					</div>
					<!-- SNS 로그인 부분 -->
					<div class="mt-3">
						<!-- <button class="btn btn-success btn-block">네이버로 계속하기</button> -->
						<a th:href="${kakaoLocation}">
							<button class="btn btn-warning btn-block">카카오로 계속하기</button>
						</a>
						<!-- <button class="btn btn-light btn-block border border-danger">구글로 계속하기</button> -->
						<div class="d-flex justify-content-center mt-2">
							<div>회원이신가요? <a href="/budgetBook/user/login-view">로그인하기</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	
	<script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous">
    </script>
    
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <script>
    	$(document).ready(function(){
    		
    		let countTime = 0;
            let intervalCall;

            $.time = function(time){
                countTime = time;
                intervalCall = setInterval(alertFunc, 1000);
            }

            $.closeTime = function(){
                clearInterval(intervalCall);
            }

            function alertFunc() {
                let min = Math.floor(countTime/60);
                let sec = countTime - (60 * min);
                if(sec > 9){
                    $('#certificationTime').text(min + ':' + sec + '');
                }else {
                    $('#certificationTime').text(min + ':0' + sec + '');
                }
                if(countTime <= 0){
                    clearInterval(intervalCall);
                }
                countTime--;
            };

    		
    		// 인증번호 확인
    		$("#verificationCodeCheckBtn").on("click", function(){
    			let verificationCode = $("#verificationCode").val();
    			let email = $("#email").val();
    			
    			$.ajax({
    				type : "get"
    				, url : "/budgetBook/user/mail/check"
    				, data : {"loginId" : loginId, "number" : certificationNumber}
    				, success : function(data){
    					if(data.result == "success"){
    						$("#numberCheckSuccess").removeClass("d-none");
    						$("#numberCheckFail").addClass("d-none");
    					}else{
    						$("#numberCheckSuccess").addClass("d-none");
    						$("#numberCheckFail").removeClass("d-none");
    					}
    				}
    				, error : function(){
    					alert("인증번호 확인 에러!");
    				}
    			});
    		});
    		
    		// 비밀번호 보이게
    		$("#showEye").on("click", function(){
    			if($("#showEye").hasClass("bi-eye")){
    				$("#showEye").removeClass("bi-eye");
    				$("#showEye").addClass("bi-eye-slash");
    				$("#password").prop("type", "text");
    			}else{
    				$("#showEye").removeClass("bi-eye-slash");
    				$("#showEye").addClass("bi-eye");
    				$("#password").prop("type", "password");
    			}
    		});
    		
    		// 전역변수
			var checkDuplicateEmail = false;
			var idDuplicateEmail = false;
			var checkDuplicateLoginId = false;
			var idDuplicateLoginId = false;
			
			// 로그인 아이디 입력이 바뀌면 중복체크 초기화
			$("loginId").on("input", function(){
				var checkDuplicateLoginId = false;
				var idDuplicateLoginId = false;
				
				$("#nonDuplicateLoginId").addClass("d-none");
				$("#duplicateLoginId").addClass("d-none");
			}); // 로그인 아이디 입력이 바뀌면 중복체크 초기화 종료
			
			// 로그인 아이디 중복 확인
			$("#loginIdDuplicateBtn").on("click", function(){
				let loginId = $("#loginId").val();
				
				$.ajax({
					type : "get"
					, url : "/budgetBook/user/join/loginId-check"
					, data : {"loginId" : loginId}
					, success : function(data){
						
						checkDuplicateLoginId = true;
	                	isDuplicateLoginId = data.isDuplicate;
	                	
						if(data.isDuplicate == "false"){
							$("#nonDuplicateLoginId").removeClass("d-none");
							$("#duplicateLoginId").addClass("d-none");
						}else{
							$("#nonDuplicateLoginId").addClass("d-none");
							$("#duplicateLoginId").removeClass("d-none");
						}
					}
					, error : function(){
						alert("아이디 중복검사 에러!")
					}
				});
				
			}); // 로그인 아이디 중복 확인 이벤트 종료
			
			// 이메일 입력이 바뀌면 중복체크 초기화
    		$("email").on("input", function(){
				var checkDuplicateEmail = false;
				var idDuplicateEmail = false;
				
				$("#nonDuplicateEmail").addClass("d-none");
				$("#duplicateEmail").addClass("d-none");
			}); // 로그인 아이디 입력이 바뀌면 중복체크 초기화 종료
			
			// 이메일 중복 확인
			$("#emailDuplicateBtn").on("click", function(){
				let email = $("#email").val();
				
				const regEmail = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i

				if(!regEmail.test(email)) {
				    alert('이메일 형식에 따라 정확히 입력해주세요');
				    return;
				}
				
				$.ajax({
					type : "get"
					, url : "/budgetBook/user/join/email-check"
					, data : {"email" : email}
					, success : function(data){
						
						checkDuplicateEmail = true;
	                	isDuplicateEmail = data.isDuplicate;
	                	
						if(data.isDuplicate == "false"){
							$("#nonDuplicateEmail").removeClass("d-none");
							$("#duplicateEmail").addClass("d-none");
						}else{
							$("#nonDuplicateEmail").addClass("d-none");
							$("#duplicateEmail").removeClass("d-none");
						}
					}
					, error : function(){
						alert("아이디 중복검사 에러!")
					}
				});
				
			}); // 이메일 중복 확인 이벤트 종료
			
			
    		// 회원가입 버튼 클릭 이벤트
    		$("#joinBtn").on("click", function(){
    			let loginId = $("#loginId").val();
    			let password = $("#password").val();
    			let email = $("#email").val();
    			
    			// 유효성 검사
    			if(loginId == null){
    				alert("아이디를 입력하세요");
    				return ;
    			}
    			
    			if(password == null){
    				alert("비밀번호를 입력하세요");
    				return ;
    			}
    			
    			if(email == null){
    				alert("이메일을 입력하세요");
    				return ;
    			}
    			
    			// 이메일 형식 확인
    			const regEmail = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;

				if(!regEmail.test(email)) {
				    alert('이메일 형식에 따라 정확히 입력해주세요');
				    return;
				}
    			
    			// 중복 체크 - 아이디
    			if(!checkDuplicateLoginId){
    				alert("아이디 중복을 확인하세요");
    				return ;
    			}
    			if(isDuplicateLoginId == true){
    				alert("아이디가 중복입니다");
    				return ;
    			}
    			
    			// 중복 체크 - 이메일
    			if(!checkDuplicateEmail){
    				alert("이메일 중복을 확인하세요");
    				return ;
    			}
    			if(isDuplicateEmail == true){
    				alert("이메일이 중복입니다");
    				return ;
    			}
    			
    			let formData = new FormData();
    			formData.append("loginId", loginId);
    			formData.append("password", password);
    			formData.append("email", email);
    			
    			$.ajax({
    				type : "post"
    				, url : "/budgetBook/user/join"
    				, data : formData
    				, processData : false
                    , contentType : false
                    , success : function(data){
                    	if(data.result == "success"){
                    		location.href = "/budgetBook/user/login-view"
                    	}else{
                    		alert("회원가입 실패!")
                    		if(data.emailPattern != null){
                    			alert(data.emailPattern); // "이메일 형식에 맞게 작성해주세요."
                    		}
                    	}
                    }
    				, error : function(){
    					alert("회원가입 에러!")
    				}
    			});
    			
    			
    		}); // 회원가입 버튼 클릭 이벤트 종료
    		
    		// 인증버튼 확인 버튼 클릭하여 인증버튼 확인 과정 펼치기 이벤트, 이메일로 인증번호 보내기 이벤트
    		$("#verificationCodeBtn").on("click", function(){
    			let email = $("#email").val();
    			
    			
    			if(email == null){
    				alert("이메일을 입력하세요");
    				return ;
    			}
    			
    			// 이메일 형식 확인
    			const regEmail = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;

				if(!regEmail.test(email)) {
				    alert('이메일 형식에 따라 정확히 입력해주세요');
				    return;
				}
    			
				// 중복 체크 - 이메일
    			if(!checkDuplicateEmail){
    				alert("이메일 중복을 확인하세요");
    				return ;
    			}
    			if(isDuplicateEmail == true){
    				alert("이메일이 중복입니다");
    				return ;
    			}
    			
    			$.ajax({
    				type : "get"
    				, url : "/budgetBook/user/mail/send"
    				, data : {"mail" : email}
    				, success : function(data){
    					if(data.result == "success"){
    						$("#verificationCode").removeClass("d-none");
    						$.time(179);
    					}else{
    						alert("인증번호 보내기 실패!");
    					}
    				}
    				, error : function(){
    					alert("인증번호 보내기 에러!");
    				}
    			});
    		}); // 인증번호 확인버튼 클릭
    		
    	}); // 문서 종료
    
    </script>
</body>
</html>