<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/userDefault}">
        
    <section layout:fragment="mainContents" class="mainContents p-3">
    	<div class="d-flex justify-content-between">
    		<div><h3>계정 정보</h3></div>
    	</div>
    	<div class="profileDetailSection mt-2 align-items-center">
    		<!-- SNS로그인 플랫폼확인 -->
    		<div class = "d-flex pl-2 pt-4 pb-4">
    			<div class = "col-3">
    				SNS 로그인
    			</div>
    			<div th:text = "${user.snsLogin}">NAVER</div>
    		</div>
    		
    		<hr style = "height : 1px; background-color : #c0c0c0; border : 0; margin : 0;">
    		
    		<!-- 아이디 확인 및 수정 -->
    		<div class = "d-flex pl-2 pt-4 pb-4 align-items-center">
    			<div class = "col-3">아이디</div>
    			<div th:text="${user.loginId}">sfqw_269</div>
    			<button id="idChangeBtn" th:if="${user.snsLogin == null}" type = "button" class="btn btn-outline-dark ml-3">수정</button>
    		</div>
    		
    		<hr style = "height : 1px; background-color : #c0c0c0; border : 0; margin : 0;">
    		
    		<!-- 비밀번호 수정 -->
    		<div class = "d-flex pl-2 pt-4 pb-4 align-items-center">
    			<div class = "col-3">비밀번호</div>
    			<button th:if="${user.snsLogin == null}"  type = "button" class="btn btn-outline-dark ml-3" id="passwordChangeBtn">수정</button>
    		</div>
    		
    		<hr style = "height : 1px; background-color : #c0c0c0; border : 0; margin : 0;">
    		
    		<!-- 이메일 수정 -->
    		<div class="d-flex pl-2 pt-4 pb-4 align-items-center">
    			<div class="col-3">이메일 수정</div>
    			<div th:text="${user.email}">fdsf342@naver.com</div>
    			<button id="emailChangeBtn" th:if = "${user.snsLogin == null}" type = "button" class="btn btn-outline-dark ml-3">수정</button>
    		</div>
    		
    		<hr style = "height : 1px; background-color : #c0c0c0; border : 0; margin : 0;">
    		
    		<!-- 프로필 사진 수정 -->
    		<div class = "d-flex pl-2 pt-4 pb-4 align-items-center">
    			<div style = "width : 100%;">
	    			<div class = "col-3">프로필</div>
	    			<div class="col-12">
	    				<div class="d-flex justify-content-center bg-secondary profileBicImgSection">
	    					<img class="profileBigImg" th:src="${user.profileImagePath}">
	    					<img class="profileBigImg" th:if="${user.profileImagePath == null}" src = "https://cdn.pixabay.com/photo/2016/11/14/17/39/person-1824144_1280.png">
	    				</div>
	    				<div class="dropstart">
	    					<button type = "button" data-toggle="dropdown" class="mt-2 btn btn-outline-dark d-flex justify-content-end align-items-center">수정</button>
	    					<ul class="dropdown-menu">
							    <li class="dropdown-item" id = "profileImgChangeBtn">프로필 사진 수정</li>
							    <li><hr class="dropdown-divider"></li>
							    <li class="dropdown-item" id="profileDelete">프로필 삭제</li>
							 </ul>
	    				</div>
	    				<input type="file" id="profileImgChangeFileBtn" class="d-none">
	    				
	    			</div>
	    			
    			</div>
    		</div>
    	
    	</div>
    	
    	<!-- 회원탈퇴 -->
    	<div class="mt-3 text-danger ml-2"><span id="deleteUserCheck">회원 탈퇴</span></div>
    
		<!-- 회원 삭제 시 확인질문 Modal -->
		<div class="modal fade" id="deleteUserCheckModal"aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered">
		    <div class="modal-content">
		      <div class="modal-body text-danger">
		        정말 계정을 삭제하시겠습니까?
		      </div>
		      <div class="modal-footer d-flex justify-content-between">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">아니요</button>
		        <button type="button" class="btn btn-danger" id = "deleteUser">계정을 완전히 삭제합니다.</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		<!-- 프로필 이미지 삭제 시 확인질문 Modal -->
		<div class="modal fade" id="deleteProfileImgModal"aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered">
		    <div class="modal-content">
		      <div class="modal-body text-danger">
		        프로필 이미지를 삭제하고 기본 이미지로 돌아갑니다.
		      </div>
		      <div class="modal-footer d-flex justify-content-between">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">아니요</button>
		        <button type="button" class="btn btn-danger" id="deleteProfileImageBtn" th:data-userId = "${user.userId}">프로필 이미지 삭제</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		<!-- 비밀번호 수정 모달 -->
		<div class="modal fade" id="passwordChangeModal"aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered">
		    <div class="modal-content">
		      <div class="modal-body">
		      	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
			      <div>
			      	<label class="mt-3">비밀번호</label>
					<div class="d-flex input_password">
						<input type="password" placeholder="비밀번호를 입력하세요" class="form-control" width="100%" id="password">
						<div class="input_password_eye">
							<i class="bi bi-eye" id="showEye"></i> <!-- 뜬 눈 --><!-- 감은 눈 bi-eye-slash -->
						</div>
					</div>
					<div class="d-flex justify-content-end">
						<button type="button" class="btn btn-primary mt-2" id="passwordCheckBtn">확인</button>
					</div>
					
			      </div>
		      	
				<div id="newPasswordSection" class="d-none">
					<label class="mt-3">새 비밀번호</label>
					<div class="d-flex input_password">
						<input type="password" placeholder="비밀번호를 입력하세요" class="form-control" width="100%" id="newPassword">
						<div class="input_password_eye">
							<i class="bi bi-eye" id="newShowEye"></i> <!-- 뜬 눈 --><!-- 감은 눈 bi-eye-slash -->
						</div>
					</div>
					<div class="d-flex justify-content-end">
						<button type="button" class="btn btn-primary mt-2" id="newPasswordChangeBtn">확인</button>
					</div>
				</div>
		      </div>
		    </div>
		  </div>
		</div>
		
		<!-- 아이디 수정 모달 -->
		<div class="modal fade" id="idChangeModal"aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered">
		    <div class="modal-content">
		      <div class="modal-body">
		      	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
			      <div>
			      	<label class="mt-3">새 아이디</label>
					<div class="d-flex">
						<input type="text" placeholder="새 아이디를 입력하세요" class="form-control" width="100%" id="idInput">
						<button type="button" class="btn btn-outline-secondary col-3 ml-2" id="idDuplicateBtn">중복 확인</button>
					</div>
					<div id= "unavailableId" class="d-none"><span class="text-danger">사용 불가능한 아이디 입니다.</span></div>
					<div id="vailableId" class = "d-none"><span class="text-success">사용 가능한 아이디 입니다.</span></div>
					<div class="d-flex justify-content-end">
						<button type="button" class="btn btn-primary mt-2" id="idChangeCheckBtn">확인</button>
					</div>
					
			      </div>
		      </div>
		    </div>
		  </div>
		</div>
		
		<!-- 이메일 수정 모달 -->
		<div class="modal fade" id="emailChangeModal"aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered">
		    <div class="modal-content">
		      <div class="modal-body">
		      	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
			      <div>
			      	<label class="mt-3">새 이메일</label>
					<div class="d-flex">
						<input type="text" placeholder="새 이메일을 입력하세요" class="form-control" width="100%" id="emailInput">
						<button type="button" class="btn btn-outline-secondary col-3 ml-2" id="emailDuplicateBtn">중복 확인</button>
					</div>
					<div id= "unavailableEmail" class="d-none"><span class="text-danger">사용 불가능한 이메일 입니다.</span></div>
					<div id="vailableEmail" class = "d-none"><span class="text-success">사용 가능한 이메일 입니다.</span></div>
					<div class="d-flex justify-content-end">
						<button type="button" class="btn btn-primary mt-2" id="emailChangeCheckBtn">확인</button>
					</div>
					
			      </div>
		      </div>
		    </div>
		  </div>
		</div>
		
    
    </section>
    
    <script layout:fragment="script">
    
    	$(document).ready(function(){
    		
    		// 전역변수
			var checkDuplicateEmail = false;
			var idDuplicateEmail = false;
			
			// 이메일 수정 입력이 바뀌면 중복체크 초기화
			$("#emailInput").on("input", function(){
				var checkDuplicateEmail = false;
				var idDuplicateEmail = false;
				
				$("#vailableEmail").addClass("d-none");
				$("#unavailableEmail").addClass("d-none");
			}); // 로그인 아이디 입력이 바뀌면 중복체크 초기화 종료
    		
    		// 이메일 중복 확인
    		$("#emailDuplicateBtn").on("click", function(){
    			let email = $("#emailInput").val();
    			
    			// 유효성 검사
    			if(email == ""){
    				alert("이메일을 입력해주세요!");
    				return;
    			};
    			
    			$.ajax({
    				type : "get"
   					, url : "/budgetBook/user/join/email-check"
   					, data : {"email" : email}
   					, success : function(data){
   						
   						checkDuplicateEmail = true;
   	                	isDuplicateEmail = data.isDuplicate;
   	                	
   						if(data.isDuplicate == "false"){
   							$("#vailableEmail").removeClass("d-none");
   							$("#unavailableEmail").addClass("d-none");
   						}else{
   							$("#vailableEmail").addClass("d-none");
   							$("#unavailableEmail").removeClass("d-none");
   						}
   					}
   					, error : function(){
   						alert("이메일 중복검사 에러!")
   					}
    			});
    		});
    		
    		// 이메일 수정 버튼 클릭
    		$("#emailChangeBtn").on("click", function(){
    			$("#emailChangeModal").modal("show");
    		});
    		
    		// 이메일 변경
    		$("#emailChangeCheckBtn").on("click", function(){
    			let email = $("#emailInput").val();
    			
    			// 유효성 검사
    			if(email == ""){
    				alert("이메일을 입력해주세요!");
    				return;
    			};
    			
    			// 중복 체크 - 이메일
    			if(!checkDuplicateEmail){
    				alert("이메일 중복을 확인하세요");
    				return ;
    			}
    			if(isDuplicateEmail == true){
    				alert("이메일이 중복입니다");
    				return ;
    			}
    			
    			$.ajax({
    				type : "put"
    				, url : "/budgetBook/user/emailChange"
    				, data : {"email" : email}
    				, success : function(data){
    					if(data.result == "success"){
    						location.reload();
    					}else{
    						alert("이메일 변경 실패!");
    					}
    				}
    				, error : function(){
    					alert("이메일 변경 에러!");
    				}
    			});
    			
    		});
    		
    		// 아이디 변경
    		$("#idChangeCheckBtn").on("click", function(){
    			let loginId = $("#idInput").val();
    			
    			// 유효성 검사
    			if(loginId == ""){
    				alert("아이디를 입력해주세요!");
    				return;
    			};
    			
    			// 중복 체크 - 아이디
    			if(!checkDuplicateLoginId){
    				alert("아이디 중복을 확인하세요");
    				return ;
    			}
    			if(isDuplicateLoginId == true){
    				alert("아이디가 중복입니다");
    				return ;
    			}
    			
    			$.ajax({
    				type : "put"
    				, url : "/budgetBook/user/loginIdChange"
    				, data : {"loginId" : loginId}
    				, success : function(data){
    					if(data.result == "success"){
    						location.reload();
    					}else{
    						alert("아이디 변경 실패!");
    					}
    				}
    				, error : function(){
    					alert("아이디 변경 에러!");
    				}
    			});
    			
    		});
    		
    		// 전역변수
			var checkDuplicateLoginId = false;
			var idDuplicateLoginId = false;
			
			// 로그인 아이디 입력이 바뀌면 중복체크 초기화
			$("#idInput").on("input", function(){
				var checkDuplicateLoginId = false;
				var idDuplicateLoginId = false;
				
				$("#vailableId").addClass("d-none");
				$("#unavailableId").addClass("d-none");
			}); // 로그인 아이디 입력이 바뀌면 중복체크 초기화 종료
    		
    		// 중복 확인
    		$("#idDuplicateBtn").on("click", function(){
    			let loginId = $("#idInput").val();
    			
    			// 유효성 검사
    			if(loginId == ""){
    				alert("아이디를 입력해주세요!");
    				return;
    			};
    			
    			$.ajax({
    				type : "get"
   					, url : "/budgetBook/user/join/loginId-check"
   					, data : {"loginId" : loginId}
   					, success : function(data){
   						
   						checkDuplicateLoginId = true;
   	                	isDuplicateLoginId = data.isDuplicate;
   	                	
   						if(data.isDuplicate == "false"){
   							$("#vailableId").removeClass("d-none");
   							$("#unavailableId").addClass("d-none");
   						}else{
   							$("#vailableId").addClass("d-none");
   							$("#unavailableId").removeClass("d-none");
   						}
   					}
   					, error : function(){
   						alert("아이디 중복검사 에러!")
   					}
    			});
    		});
    		
    		// 아이디 수정 버튼 클릭
    		$("#idChangeBtn").on("click", function(){
    			$("#idChangeModal").modal("show");
    		});
    		
    		// 비밀번호 변경 버튼 클릭
    		$("#newPasswordChangeBtn").on("click", function(){
    			let password = $("#newPassword").val();
    			
    			
    			$.ajax({
    				type : "put"
    				, url : "/budgetBook/user/passwordChange"
    				, data : {"password" : password}
    				, success : function(data){
    					if(data.result == "success"){
    						location.reload();
    					}else{
    						alert("비밀번호 변경 실패!");
    					}
    				}
    				, error : function(){
    					alert("비밀번호 변경 에러!");
    				}
    			});
    		});
    		
    		
    		// 비밀번호 확인
    		$("#passwordCheckBtn").on("click", function(){
    			let password = $("#password").val();
    			
    			$.ajax({
    				type : "post"
    				, url : "/budgetBook/user/passwordCheck"
    				, data : {"password" : password}
    				, success : function(data){
    					if(data.result == "success"){
    						$("#newPasswordSection").removeClass("d-none");
    					}else{
    						alert("비밀번호 불일치!");
    					}
    				}
    				, error : function(){
    					alert("비밀번호 확인 에러!");
    				}
    			});
    		});
    		
    		// 비밀번호 수정 모달 열기
    		$("#passwordChangeBtn").on("click", function(){
    			$("#passwordChangeModal .form-control").val("");
    			$("#passwordChangeModal").modal("show");
    		});
    		
    		// 새 비밀번호 보이게
    		$("#newShowEye").on("click", function(){
    			if($("#newShowEye").hasClass("bi-eye")){
    				$("#newShowEye").removeClass("bi-eye");
    				$("#newShowEye").addClass("bi-eye-slash");
    				$("#newPassword").prop("type", "text");
    			}else{
    				$("#newShowEye").removeClass("bi-eye-slash");
    				$("#newShowEye").addClass("bi-eye");
    				$("#newPassword").prop("type", "password");
    			}
    		});
    		
    		// 비밀번호 보이게
    		$("#showEye").on("click", function(){
    			if($("#showEye").hasClass("bi-eye")){
    				$("#showEye").removeClass("bi-eye");
    				$("#showEye").addClass("bi-eye-slash");
    				$("#password").prop("type", "text");
    			}else{
    				$("#showEye").removeClass("bi-eye-slash");
    				$("#showEye").addClass("bi-eye");
    				$("#password").prop("type", "password");
    			}
    		});
    		
    		// 프로필 이미지 삭제
    		$("#deleteProfileImageBtn").on("click", function(){
    			let userId = $("#deleteProfileImageBtn").attr("data-userId");
    			
    			$.ajax({
    				type : "delete"
    				, url : "/budgetBook/user/profileImage/delete"
    				, data : {"userId" : userId}
    				, success : function(data){
    					if(data.result == "success"){
    						location.reload();
    					}else{
    						alert("프로필 삭제 실패!");
    					}
    				}
    				, error : function(){
    					alert("프로필 수정 에러!");
    				}
    			});
    		});
    		
    		
    		// 프로필 사진 삭제 버튼 클릭 시 확인 모달을 여는 이벤트
    		$("#profileDelete").on("click", function(){
    			$("#deleteProfileImgModal").modal("show");
    		});
    		
    		// 프로필 수정
    		$("#profileImgChangeFileBtn").on("input", function(){
    			let file = $("#profileImgChangeFileBtn")[0].files[0];
    			
    			let formData = new FormData();
    			formData.append("profileImage", file);
    			
    			$.ajax({
    				type : "put"
    				, url : "/budgetBook/user/profileImage"
    				, data : formData
    				, enctype : "multipart/form-data" // 파일 업로드 필수
        			, processData : false // 파일 업로드 필수
        			, contentType : false // 파일 업로드 필수
    				, success : function(data){
    					if(data.result == "success"){
    						location.reload();
    					}else{
    						alert("프로필 사진 수정 실패!");
    					}
    				}
    				, error : function(){
    					alert("프로필 사진 수정 에러!");
    				}
    			});
    		});
    		
    		// 프로필 수정 버튼 클릭
    		$("#profileImgChangeBtn").on("click", function(){
    			// 파일 버튼 클릭되게
    			$("#profileImgChangeFileBtn").click();
    		});
    		
    		//회원 삭제 시 정말 삭제하겠냐는 모달 띄우기
    		$("#deleteUserCheck").on("click", function(){
    			$("#deleteUserCheckModal").modal("show");
    		});
    		
    	}); // 문서 종료
    </script>

</html>