<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/userDefault}">
        
    <section layout:fragment="mainContents" class="mainContents p-3">
    	<div class="d-flex justify-content-between">
    		<div><h3>계정 정보</h3></div>
    	</div>
    	<div class="profileDetailSection mt-2 align-items-center">
    		<!-- SNS로그인 플랫폼확인 -->
    		<div class = "d-flex pl-2 pt-4 pb-4">
    			<div class = "col-3">
    				SNS 로그인
    			</div>
    			<div th:text = "${user.snsLogin}">NAVER</div>
    		</div>
    		
    		<hr style = "height : 1px; background-color : #c0c0c0; border : 0; margin : 0;">
    		
    		<!-- 아이디 확인 및 수정 -->
    		<div class = "d-flex pl-2 pt-4 pb-4 align-items-center">
    			<div class = "col-3">아이디</div>
    			<div th:text="${user.loginId}">sfqw_269</div>
    			<button type = "button" class="btn btn-outline-dark ml-3">수정</button>
    		</div>
    		
    		<hr style = "height : 1px; background-color : #c0c0c0; border : 0; margin : 0;">
    		
    		<!-- 비밀번호 수정 -->
    		<div class = "d-flex pl-2 pt-4 pb-4 align-items-center">
    			<div class = "col-3">비밀번호</div>
    			<button type = "button" class="btn btn-outline-dark ml-3">수정</button>
    		</div>
    		
    		<hr style = "height : 1px; background-color : #c0c0c0; border : 0; margin : 0;">
    		
    		<!-- 프로필 사진 수정 -->
    		<div class = "d-flex pl-2 pt-4 pb-4 align-items-center">
    			<div style = "width : 100%;">
	    			<div class = "col-3">프로필</div>
	    			<div class="col-12">
	    				<div class="d-flex justify-content-center bg-secondary profileBicImgSection">
	    					<img class="profileBigImg" th:src="${user.profileImagePath}">
	    				</div>
	    				<div class="dropstart">
	    					<button type = "button" data-toggle="dropdown" class="mt-2 btn btn-outline-dark d-flex justify-content-end align-items-center">수정</button>
	    					<ul class="dropdown-menu">
							    <li class="dropdown-item" id = "profileImgChangeBtn">프로필 사진 수정</li>
							    <li><hr class="dropdown-divider"></li>
							    <li class="dropdown-item" id="profileDelete">프로필 삭제</li>
							 </ul>
	    				</div>
	    				<input type="file" id="profileImgChangeFileBtn" class="d-none">
	    				
	    			</div>
	    			
    			</div>
    		</div>
    	
    	</div>
    	
    	<!-- 회원탈퇴 -->
    	<div class="mt-3 text-danger ml-2" id = "deleteUserCheck">회원 탈퇴</div>
    
		<!-- 회원 삭제 시 확인질문 Modal -->
		<div class="modal fade" id="deleteUserCheckModal"aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered">
		    <div class="modal-content">
		      <div class="modal-body text-danger">
		        정말 계정을 삭제하시겠습니까?
		      </div>
		      <div class="modal-footer d-flex justify-content-between">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">아니요</button>
		        <button type="button" class="btn btn-danger" id = "deleteUser">계정을 완전히 삭제합니다.</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		<!-- 프로필 이미지 삭제 시 확인질문 Modal -->
		<div class="modal fade" id="deleteProfileImgModal"aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered">
		    <div class="modal-content">
		      <div class="modal-body text-danger">
		        프로필 이미지를 삭제하고 기본 이미지로 돌아갑니다.
		      </div>
		      <div class="modal-footer d-flex justify-content-between">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">아니요</button>
		        <button type="button" class="btn btn-danger" id="deleteProfileImageBtn" th:data-userId = "${user.userId}">프로필 이미지 삭제</button>
		      </div>
		    </div>
		  </div>
		</div>
		
    
    </section>
    
    <script layout:fragment="script">
    
    	$(document).ready(function(){
    		
    		// 프로필 이미지 삭제
    		$("#deleteProfileImageBtn").on("click", function(){
    			let userId = $("#deleteProfileImageBtn").attr("data-userId");
    			
    			$.ajax({
    				type : "delete"
    				, url : "/budgetBook/user/profileImage/delete"
    				, data : {"userId" : userId}
    				, success : function(data){
    					if(data.result == "success"){
    						location.reload();
    					}else{
    						alert("프로필 삭제 실패!");
    					}
    				}
    				, error : function(){
    					alert("프로필 수정 에러!");
    				}
    			});
    		});
    		
    		
    		// 프로필 사진 삭제 버튼 클릭 시 확인 모달을 여는 이벤트
    		$("#profileDelete").on("click", function(){
    			$("#deleteProfileImgModal").modal("show");
    		});
    		
    		// 프로필 수정
    		$("#profileImgChangeFileBtn").on("input", function(){
    			let file = $("#profileImgChangeFileBtn")[0].files[0];
    			
    			let formData = new FormData();
    			formData.append("profileImage", file);
    			
    			$.ajax({
    				type : "put"
    				, url : "/budgetBook/user/profileImage"
    				, data : formData
    				, enctype : "multipart/form-data" // 파일 업로드 필수
        			, processData : false // 파일 업로드 필수
        			, contentType : false // 파일 업로드 필수
    				, success : function(data){
    					if(data.result == "success"){
    						location.reload();
    					}else{
    						alert("프로필 사진 수정 실패!");
    					}
    				}
    				, error : function(){
    					alert("프로필 사진 수정 에러!");
    				}
    			});
    		});
    		
    		// 프로필 수정 버튼 클릭
    		$("#profileImgChangeBtn").on("click", function(){
    			// 파일 버튼 클릭되게
    			$("#profileImgChangeFileBtn").click();
    		});
    		
    		//회원 삭제 시 정말 삭제하겠냐는 모달 띄우기
    		$("#deleteUserCheck").on("click", function(){
    			$("#deleteUserCheckModal").modal("show");
    		});
    		
    	}); // 문서 종료
    </script>

</html>