<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
		<th:block th:fragment = "header">
			<div class="header d-flex align-items-center justify-content-between pl-3 pr-3 border-bottom">
				<!-- 메뉴 아이콘, 로고 -->
				<div class="d-flex align-items-center " style="height:100%;">
					<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
					</svg>
					<h3>LOGO</h3>
				</div>
				
				<!-- 프로필 -->
				<div class="profileSection bg-secondary">
					<img src="https://cdn.pixabay.com/photo/2019/10/30/14/51/fall-4589724_1280.jpg" class="profileImage">
				</div>
			</div>
		</th:block>
</html>