<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
		<th:block th:fragment = "header">
			<div class="header d-flex align-items-center justify-content-between pl-3 pr-3 border-bottom">
				<!-- 메뉴 아이콘, 로고 -->
				<div class="d-flex align-items-center " style="height:100%;">
					<svg role="button" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16" data-toggle="collapse" href="#mainMenuSection" aria-expanded="true">
						<path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
					</svg>
					<h3><a href="/budgetBook/money/main-view">LOGO</a></h3>
				</div>
				
				<!-- 프로필 -->
				<div class="dropstart">
					<div class="profileSection bg-secondary" data-toggle="dropdown">
						<img src="https://cdn.pixabay.com/photo/2019/10/30/14/51/fall-4589724_1280.jpg" class="profileImage d-flex justify-content-center align-items-center">
					</div>
					<ul class="dropdown-menu">
					    <li><a class="dropdown-item d-flex justify-content-center align-items-center" href="/budgetBook/user/profile-view">프로필 사진</a></li>
					    <li><hr class="dropdown-divider"></li>
					    <li><a class="dropdown-item text-danger d-flex justify-content-center align-items-center" href="#">로그아웃</a></li>
					 </ul>
				</div>
				
				
			</div>
		</th:block>
</html>