<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
		<th:block th:fragment = "menu">
			<div class="mainMenuSection border-right">
				<nav class="pl-3 pt-3">
					<ul class="nav flex-column">
						<li class="nav-item">
							<a class="nav-link menuText" href="#">내역</a>
						</li>
						<li class="nav-item">
							<a class="nav-link menuText" href="#">고정비 작성</a>
						</li>
						<li class="nav-item">
							<a class="nav-link menuText" href="#">예산 짜기</a>
						</li>
						<li class="nav-item">
							<a class="nav-link menuText" href="#">통계</a>
						</li>
						<li class="nav-item">
							<a class="nav-link menuText" href="#">자산</a>
						</li>
					</ul>
				</nav>
			</div>
		</th:block>
</html>