<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
		<th:block th:fragment = "menu">
			<div class="mainMenuSection border-right collapse show" id="mainMenuSection">
				<nav class="pl-3 pt-3">
					<ul class="nav flex-column">
						<li class="nav-item">
							<a class="nav-link menuText" href="/budgetBook/money/main-view">메인화면</a>
						</li>
						<li class="nav-item">
							<a class="nav-link menuText" href="/budgetBook/money/breakdown-view">내역</a>
						</li>
						<li class="nav-item">
							<a class="nav-link menuText" href="/budgetBook/money/fixedCost-view">고정비 작성</a>
						</li>
						<li class="nav-item">
							<a class="nav-link menuText" href="/budgetBook/money/budgetPrediction-view">예산 짜기</a>
						</li>
						<li class="nav-item">
							<a class="nav-link menuText" href="/budgetBook/money/statics/outgoing-view">통계</a>
						</li>
						<li class="nav-item">
							<a class="nav-link menuText" href="/budgetBook/money/assets-view">자산</a>
						</li>
					</ul>
				</nav>
			</div>
		</th:block>
</html>