@charset "UTF-8";

#wrap{
	width : 98vw;
	height : 100vh;
}

.centerDisplay{
	width : 20%;
}

.bigLogo{
	font-size : 50px;
}

.input_password{
	position : relative;
}

.input_password_eye{
	position : absolute;
	right : 10px;
	top : 5px;
}

.mainMenuSection{
	width : 15%;
}

.header{
	width : 100%;
	height : 10%;
}

#contentSection{
	height: 90%;
	flex-direction: row;
}

.mainContents{
	width : 85%;
	flex-grow: 1;
}

.profileSection{
	width:50px;
	height : 50px;
	border-radius : 70%;
	overflow : hidden; 
	display : flex;
	justify-content : center;
    align-items : center;
}

.profileImage{
	width : 50px;
	object-fit : cover;
}

.menuText{
	font-size : 20px;
	color : black;
	font-weight : bold;
}

.budgetExhausted{
	
}

.fixedCostAndbudgetPrediction{
	width : 33.333%;
	height : 100%;
}

.downSection{
	height : 80%;
	flex-direction: row;
}

.calendarSection{
	flex-grow: 1;
}

.miniProgress{
	flex-direction: row;
}

body::-webkit-scrollbar {
    width: 5px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #c0c0c0; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: #e2e2e2;  /*스크롤바 뒷 배경 색상*/
}
.budgetPredictionDetailList tr:hover{
	background: #e2e2e2;
}

.budgetPredictionDetailList tr:active{
	background: #c3c3c3;
}

.detailSection{
	width : 100%;
	
}

.detailTable{
	width : 100%;
	overflow : hidden;
	border-radius : 13px;
	outline : solid 1px #c0c0c0;
}

h3 > a{
	color : black;
}

.inputBottomBorder{
	border-width : 0 0 1px;
}

.modalText{
	font-size : 14px;
}

input:focus{
	outline : none;
}

#colorPicker{
	border-radius : 13px;
	outline : solid 1px #c0c0c0;
	background-color : #e4e4e4;
}

.profileDetailSection{
	width : 100%;
	border-radius : 13px;
	outline : solid 1px #c0c0c0;
}

.profileBicImgSection{
	width : 300px;
	height : 300px;
}

.profileBigImg{
	width : 300px;
	object-fit : cover;
}